@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes moving {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes movingDown {
    0% {
      transform: translateY(70%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes movingBottom {
    0% {
        transform: translateY(-60%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
  }
  .about-us{
    overflow: hidden;
    *{
        list-style: none;
        text-decoration: none;
        font-family: "Ubuntu", sans-serif!important;
      }
    .about-usBody{
        margin: 5% 0;
        .about-us-topContainer{
            background: #f9f5fe;
            padding: 7% 0;
            @include tablet{
                padding: 15% 0;
            }
            @include mobile{
                padding: 25% 0 15%;
            }
            .container-fluid{
               .aboutUs-bodyContainer{
                .aboutUs-bodyParent{
                    height: 100%;
                    .aboutUs-bodyChild{
                        padding: 0;
                        height: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .bodyChildright{
                        height: 100%;
                        color: #8231EB;
                        padding:0 7%;
                        margin-top: 3%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        @include tablet{
                            margin-top: 5%;
                        }
                        @include mobile{
                            text-align: center;
                            gap: 10px;
                            margin-top: 10%;
                        }
                        h1{
                            color: #8231EB;
                            font-weight: 700;
                            font-size: 2.3vw;
                            font-family: "Ubuntu", sans-serif;
                            letter-spacing: 1px;
                            transition: .3s;
                            @include Destop{
                                font-size: 2.3rem;
                            }
                            @include mobile{
                                font-size: 1.5rem;
                            }
                        }
                        p{
                            color: #7b8491;
                            font-size: 1.1vw;
                            line-height: 2vw;
                            transition: .3s;
                            @include Destop{
                                font-size: 15px;
                                line-height: 28px;
                                max-width: 90%;
                            }
                            @include tablet{
                                max-width: 100%;
                            }
                            @include mobile{
                                font-size: 14px;
                            }
                        }
                       .textNone{
                        display: block;
                        @include mobile{
                            display: none;
                        }
                       }
                       .textNone-2{
                        display: none;
                        @include mobile{
                            display: block;
                        }
                       }
                        button{
                            width: 30%;
                            margin-top: 2%;
                            background: #8231EB;
                            padding: 15px 0;
                            border: none;
                            color: #fff;
                            transition: .3s;
                            font-size: 1vw;
                            border-radius: 5px;
                            a{
                                color: inherit;
                            }
                            @include Destop{
                                font-size: 15px;
                            }
                            @include mobile{
                               margin:0 auto;
                               align-items: center;
                               text-align: center;
                               width: 50%;
                            }
                            &:hover{
                                border: 1px solid #8231EB;
                                background: #fff;
                                color: #8231EB;
                                transition: .3s;
                            }
                        }
                    }
                }
               } 
            }
        }
        .about-us-middleContainer{
            padding: 5% 0;
            background: #fff;
            .container{
                .aboutUs-middleBody{
                    margin: 5% 0 0;
                    display: flex;
                    .aboutUs-middleParent{
                        padding:0 30px;
                        @include laptop{
                            margin-top: 5%;
                        }
                        @include mobile{
                        margin-top: 0;
                        }
                        .aboutUs-middleChild{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            gap: 20px;
                            padding: 50px 35px;
                            transition: .3s;
                            height: 100%;
                        
                            .icons{
                               height: 50px;
                                width: 50px;
                                border-radius: 50%;
                                line-height: 50px;
                                background: #8231EB;
                                color: #fff;
                                text-align: center;
                                margin:0 auto;
                                i{
                                    font-size: 20px;
                                }
                            }
                            h4{
                                color: #233d63;
                                font-size: 1.5vw;
                                font-weight: 600;
                                margin: 0;
                                @include Destop{
                                    font-size: 1.5rem;
                                }
                            }
                            p{
                                text-align: center;
                                margin: 0;
                                font-size: 1.3vew;
                                line-height: 2vew;
                                color: #7b8491;
                                font-weight: 500;
                                @include Destop{
                                    font-size: 14px;
                                    line-height: 25px;
                                }
                        }
                            &:hover{
                                box-shadow: 0px 20px 40px 0px rgba(0, 23, 88, 0.2);
                                background: #fff;
                                transition: all .3s ease-out;
                                color: #ddd;
                                transition: .3s;
                                @include tablet{
                                box-shadow: none;
                                }
                                .icons{
                                    background:#8231EB ;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                button{
                  padding: 10px;
                  background: inherit;
                  color: #7b8491;
                  border: 1px solid #8231EB;
                  display: flex;
                  margin:4% auto 0;
                  transition: .3s;
                  a{
                    color: inherit;
                }
                  &:hover{
                    transition: .3s;
                    background: #8231EB;
                    color: #fff;
                  }
            }
        }
        }
        .about-usBottom{
            // background-image: url('https://www.kissdental.co.uk/wp-content/uploads/2022/09/back-header-768x1405.jpg');
            padding: 10px 0;
            margin: 5% 0;
            .Container{
                .bottomTittle{
                    padding: 0;
                    margin:3% 10% ;
                    h1{
                        padding: 0;
                        color: #233d63;
                            font-weight: 700;
                            font-size: 2.3vw;
                            @include Destop{
                                font-size: 2.1rem;
                            }
                            @include tablet{
                                text-align: center;
                            }
                    }
                }
                .bottomTittle-2{
                    padding: 0;
                    display: flex;
                    justify-content: flex-end;
                    margin: 3% 10%;
                    h1{
                        padding: 0;
                        color: #233d63;
                            font-weight: 700;
                            font-size: 2.3vw;
                            @include Destop{
                                font-size: 2.1rem;
                            }
                            @include tablet{
                                text-align: center;
                            }
                    }
                }
                .aboutUs-bottomContainer{
                    padding: 0 7%;
                    .aboutUs-bottomParent{
                        padding: 10px 20px ; 
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 30px;
                        .aboutUs-bottomChildbox{
                            padding: 0 10% 0 0;
                            .bottomChildbox{
                            box-shadow: 0px 20px 40px 0px rgba(0, 23, 88, 0.2);
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            gap: 20px;
                            padding: 20px;
                            border-radius: 30px;
                            .number-box{
                                display: flex;
                                justify-content: center;
                                flex: 1;
                                color: #fff;
                                font-weight: 600;
                                p{
                                    width: 50px;
                                    height: 50px;
                                    line-height: 50px;
                                    border-radius: 50%;
                                    background: #8231EB;
                                    text-align: center;
                                }
                            }
                               .textbox{
                                flex: 8;
                                h3{
                                    font-size: 1.1vw;
                                    color: #233d63;
                                    font-weight: 600;
                                    @include Destop{
                                        font-size: 1.1rem;
                                    }
                                }
                                p{
                                    color: #7b8491;
                                    font-size: 0.9vw;
                                    line-height: 1.5vw;
                                    @include Destop{
                                        font-size: 13px;
                                        line-height: 25px;
                                    }
                                }

                            }
                        }
                    }
                    @include tablet{
                        .aboutUs-bottomChildbox{
                            padding: 0;
                            .bottomChildbox{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                gap: 20px;
                                text-align: center;
                                padding: 50px 20px;
                            }
                        }
                    }
                    .bottomboxchildright{
                        padding: 0 0 0 10%;
                        @include tablet{
                        padding: 0;
                        }
                    }

                }
                .aboutUs-bottomParentright{
                    padding: 0 20px 0;
                    .aboutUs-bottomChildright{
                        height: 100%;
                    .bottomImg{
                        background-image: url(../Images/ImageBlog/05.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 20px;
                        width: 100%;
                        height: 100%;
                    }
                }
                }
            }
            }
        }
        .aboutUs-footer{
            .container{

                .aboutUs-footerTittle{
                    margin: 10% auto 3%;
                    text-align: center;
                    h1{
                        text-decoration: none;
                        margin: 0;
                        color: #233d63;
                        font-size: 2.5vew;
                        font-weight: bold;
                        text-transform: capitalize;
                        -webkit-transition: all 500ms ease;
                        transition: all 500ms ease;
                        cursor: pointer;
                        @include Destop{
                            font-size: 2rem;
                    }
                }
                }
                .aboutUs-footerContaienr{
                    .aboutUs-footerParent{
                        .aboutUs-footerChild{
                            margin-top: 30px;
                            background-image: -webkit-linear-gradient( 0deg, rgb(0,0,184) 0%, rgb(115,0,233) 100%);
                            padding: 50px ;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            gap: 20px;
                            justify-content: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-transition: all 500ms ease;
                            transition: all 500ms ease;
                            .leftfooterChild{
                                flex: 1;
                                img{
                                    width: 100%;
                                }
                            }
                            .rightfooterChild{
                                flex: 3;
                                h1{
                                        text-decoration: none;
                                        margin: 0;
                                        color: #fff;
                                        font-size: 1.5rem;
                                        font-weight: bold;
                                        text-transform: capitalize;
                                        -webkit-transition: all 500ms ease;
                                        transition: all 500ms ease;
                                        cursor: pointer;
                                        @include Destop{
                                            font-size: 21px;
                                    }
                                }
                            }
                        }
                         .footerChildButton{
                            margin-top: 30px;
                            padding: 50px;
                            display: flex;
                            gap: 20px;
                            justify-content: center;
                            -webkit-box-align: center;
                            transition: all 500ms ease;
                            button{
                                border: none;
                                background-image: -webkit-linear-gradient( 0deg, rgb(0,0,184) 0%, rgb(115,0,233) 100%);
                                color: #fff;
                                font-weight: 500;
                                padding: 20px 30px;
                                border-radius: 10px;
                                transition: all 500ms ease;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}