@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes moving {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes movingDown {
    0% {
      transform: translateY(70%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes movingBottom {
    0% {
        transform: translateY(-60%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
  }
  *{
    list-style: none;
    text-decoration: none;
    margin: 0;
  }
  .about-us{
    overflow: hidden;
    .about-usBody{
        margin: 5% 0;
        font-family: 'Poppins', sans-serif;
        .about-us-topContainer{
            background: #f9f5fe;
            padding: 10% 0;
            .container-fluid{
               .aboutUs-bodyContainer{
                .aboutUs-bodyParent{
                    .aboutUs-bodyChild{
                        padding: 0;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .bodyChildright{
                        color: #8231EB;
                        padding:0 7%;
                        h1{
                            max-width: 450px;
                            color: #8231EB;
                            font-weight: 700;
                            font-size: 2.3vw;
                            @include Destop{
                                font-size: 2.3rem;
                            }
                        }
                        p{
                            color: #7b8491;
                            margin: 2% 0;
                            font-size: 1.1vw;
                            line-height: 2vw;
                            @include Destop{
                                font-size: 15px;
                                line-height: 28px;
                            }
                        }
                        button{
                            margin-top: 2%;
                            background: #8231EB;
                            padding: 10px 30px;
                            border: none;
                            color: #fff;
                            transition: .3s;
                            font-size: 1vw;
                            @include Destop{
                                font-size: 15px;
                            }
                            &:hover{
                                border: 1px solid #8231EB;
                                background: #fff;
                                color: #8231EB;
                                transition: .3s;
                            }
                        }
                    }
                }
               } 
            }
        }
        .about-us-middleContainer{
            padding: 5% 0;
            background: #fff;
            .container{
                .aboutUs-middleTIttle{
                    text-align: center;
                    margin: auto;
                    h1{
                        color: #233d63;
                            font-weight: 700;
                            font-size: 2.3vw;
                            @include Destop{
                                font-size: 2.3rem;
                            }
                    }
                    p{
                        color: #7b8491;
                        margin: 2% 0;
                        font-size: 1.1vw;
                        line-height: 2vw;
                        max-width: 90%;
                        margin: auto;
                        @include Destop{
                            font-size: 15px;
                            line-height: 28px;
                        }
                    }
                }
                .aboutUs-middleBody{
                    margin: 5% 0 0;
                    display: flex;
                    .aboutUs-middleParent{
                        padding:0 30px;
                        @include laptop{
                            margin-top: 5%;
                        }
                        .aboutUs-middleChild{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            gap: 8px;
                            padding: 10px 35px;
                            transition: .3s;
                            font-family: 'Poppins', sans-serif;
                            height: 100%;
                            .icons{
                               height: 50px;
                                width: 50px;
                                border-radius: 50%;
                                line-height: 50px;
                                background: #8231EB;
                                color: #fff;
                                text-align: center;
                                margin:0 auto;
                                i{
                                    font-size: 20px;
                                }
                            }
                            h4{
                                color: #233d63;
                                margin-top: 4%;
                                font-size: 1.5vw;
                                font-weight: 600;
                                @include Destop{
                                    font-size: 20px;
                                }
                            }
                            .icons-text{
                                padding: 10px 0;
                                cursor: grab;
                                text-align: justify; /* For Edge */
                                 text-align-last: justify;
                                scrollbar-width: none;
                                &::-webkit-scrollbar {
                                  width:0; 
                                }
                            p{
                                font-size: 15px;
                                line-height: 25px;
                                color: #7b8491;
                                font-weight: 500;
                            }
                        }
                            &:hover{
                                box-shadow: 0px 20px 40px 0px rgba(0, 23, 88, 0.2);
                                background: #fff;
                                transition: all .3s ease-out;
                                color: #ddd;
                                transition: .3s;
                                .icons{
                                    background:#8231EB ;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                button{
                  padding: 10px;
                  background: inherit;
                  color: #7b8491;
                  border: 1px solid #8231EB;
                  display: flex;
                  margin:4% auto 0;
                  transition: .3s;
                  &:hover{
                    transition: .3s;
                    background: #8231EB;
                    color: #fff;
                  }
            }
        }
        }
        .about-usBottom{
            // background-image: url('https://www.kissdental.co.uk/wp-content/uploads/2022/09/back-header-768x1405.jpg');
            padding: 10px 0;
            margin: 5% 0;
            .Container{
                .aboutUs-bottomContainer{
                    padding: 0 7%;
                    .aboutUs-bottomParent{
                        padding: 10px 20px ; 
                        .bottomTittle{
                            padding: 0;
                            h1{
                                padding: 0;
                                color: #233d63;
                                    font-weight: 700;
                                    font-size: 2.3vw;
                                    @include Destop{
                                        font-size: 2.1rem;
                                    }
                            }
                        }
                        .aboutUs-bottomChildbox{
                            padding: 0 10% 0 0;
                            height: 25%;
                            .bottomChildbox{
                            box-shadow: 0px 20px 40px 0px rgba(0, 23, 88, 0.2);
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            gap: 20px;
                            padding: 20px;
                            border-radius: 30px;
                            margin: 7% 0;
                            height: 100%;
                            .number-box{
                                display: flex;
                                justify-content: center;
                                flex: 1;
                                color: #fff;
                                font-weight: 600;
                                p{
                                    width: 50px;
                                    height: 50px;
                                    line-height: 50px;
                                    border-radius: 50%;
                                    background: #8231EB;
                                    text-align: center;
                                }
                            }
                               .textbox{
                                flex: 8;
                                h3{
                                    font-size: 1.1vw;
                                    color: #233d63;
                                    font-weight: 600;
                                    @include Destop{
                                        font-size: 15px;
                                    }
                                }
                                p{
                                    color: #7b8491;
                                    font-size: 0.9vw;
                                    line-height: 1.5vw;
                                    @include Destop{
                                        font-size: 13px;
                                    }
                                }

                            }
                        }
                    }
                    .bottomboxchildright{
                        padding: 0 0 0 10%;
                    }

                }
                .aboutUs-bottomParentright{
                    padding: 7% 20px 0;
                    .aboutUs-bottomChildright{
                        height: 100%;
                    .bottomImg{
                        background-image: url(../Images/ImageBlog/05.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 20px;
                        width: 100%;
                        height: 45%;
                    }
                    .bottomImgbox{
                        height: 100%;
                        .boxImgWrapper{
                            margin-top: 10%;
                            display: flex;
                            border: 10x solid #8231EB;
                        .leftbox{
                            flex: 1;
                            color: #fff;
                            text-align: center;
                            background: #8231EB;
                            border-radius: 20px 0 0 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 0 25px;
                            h2{
                                font-weight: 700;
                                font-size: 2vw;
                                @include Destop{
                                    font-size: 2.3rem;
                                }
                            }
                            span{
                                color: #fff;
                                font-size: 1.2vw;
                                @include Destop{
                                    font-size: 18px;
                                }
                            }
                        }
                        .rightbox{
                            flex: 5;
                            background-image: url(../Images/ImageBlog/03.jpg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            border-radius: 0 20px 20px 0;
                            width: 100%;
                            height: 27vh;
                        }
                    }
                }
                }
                }
            }
            }
        }
        .aboutUs-footer{
            padding: 15px 0;
            .aboutUs-footerTIttle{
                text-align: center;
                margin:3% auto;
                h1{
                    color: #233d63;
                        font-weight: 700;
                        font-size: 2.3vw;
                        @include Destop{
                            font-size: 2.3rem;
                        }
                }
                p{
                    color: #7b8491;
                    margin: 2% 0;
                    font-size: 1.3vw;
                    line-height: 2vw;
                    max-width: 80%;
                    margin: auto;
                    @include Destop{
                        font-size: 15px;
                        line-height: 28px;
                    }
                }
            }
            .aboutUs-footerContainer{
                margin: 5% 0;
                padding: 0 5%;
                .aboutUs-footerParent{
                    .aboutUs-footerChild{
                        color: #7b8491;
                        padding: 10px 30px;
                        justify-content: center;
                        height: 100%;
                        font-family: 'poppins', sans-sarif;
                        &:hover{
                            box-shadow: 0px 20px 40px 0px rgba(0, 23, 88, 0.2);
                            background: #fff;
                            transition: all .3s ease-out;
                        }
                        h4{
                            font-size: 1.1vw;
                            font-weight: 600;
                            font-family: serif;
                            text-align: center;
                            color: #8231EB;
                            margin-top: 5%;
                            font-family: 'poppins', sans-sarif;
                            @include Destop{
                                 font-size: 15px;
                            }
                        }
                        .footerCildText{
                            margin: 5% 0 0;
                            display: flex;
                            gap: 10px;
                            .footerChildicon{
                                flex: 1;
                                margin: auto 0;
                                i{
                                    font-size: 30px;
                                    color: #8231EB;
                                }
                            }
                            .footerCildTextScroll{
                                flex: 5;
                                overflow-y: hidden;
                                scrollbar-width: 0;
                                &::-webkit-scrollbar {
                                    width:0; 
                                  }
                            p{
                                font-size: 0.9vw;
                                color: #7b8491;
                                @include Destop{
                                    font-size: 14px;
                               }
                            }
                        }
                        }
                    }

                }
            }
        }
    }
  }