@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes moving {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes movingDown {
    0% {
      transform: translateY(70%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes movingBottom {
    0% {
        transform: translateY(-60%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
  }
  *{
    list-style: none;
    text-decoration: none;
    margin: 0;
  }
  .about-us{
    overflow: hidden;
    .about-usBody{
        margin: 5% 0;
        font-family: 'Poppins', sans-serif;
        .about-us-topContainer{
            background: #f9f5fe;
            padding: 10% 0;
            .container-fluid{
               .aboutUs-bodyContainer{
                .aboutUs-bodyParent{
                    height: 100%;
                    .aboutUs-bodyChild{
                        padding: 0;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .bodyChildright{
                        color: #8231EB;
                        padding:0 7%;
                        margin-top:3% ;
                        h1{
                            max-width: 450px;
                            color: #8231EB;
                            font-weight: 700;
                            font-size: 2.3vw;
                            @include Destop{
                                font-size: 2.3rem;
                            }
                        }
                        p{
                            color: #7b8491;
                            margin: 2% 0;
                            font-size: 1.1vw;
                            line-height: 2vw;
                            text-align: justify;
                            @include Destop{
                                font-size: 15px;
                                line-height: 28px;
                            }
                        }
                        button{
                            margin-top: 2%;
                            background: #8231EB;
                            padding: 10px 30px;
                            border: none;
                            color: #fff;
                            transition: .3s;
                            font-size: 1vw;
                            @include Destop{
                                font-size: 15px;
                            }
                            &:hover{
                                border: 1px solid #8231EB;
                                background: #fff;
                                color: #8231EB;
                                transition: .3s;
                            }
                        }
                    }
                }
               } 
            }
        }
        .about-us-middleContainer{
            padding: 5% 0;
            background: #fff;
            .container{
                // .aboutUs-middleTIttle{
                //     text-align: center;
                //     margin: auto;
                //     h1{
                //         color: #233d63;
                //             font-weight: 700;
                //             font-size: 2.3vw;
                //             @include Destop{
                //                 font-size: 2.3rem;
                //             }
                //     }
                //     p{
                //         color: #7b8491;
                //         margin: 2% 0;
                //         font-size: 1.1vw;
                //         line-height: 2vw;
                //         max-width: 90%;
                //         margin: auto;
                //         @include Destop{
                //             font-size: 15px;
                //             line-height: 28px;
                //         }
                //     }
                // }
                .aboutUs-middleBody{
                    margin: 5% 0 0;
                    display: flex;
                    .aboutUs-middleParent{
                        padding:0 30px;
                        @include laptop{
                            margin-top: 5%;
                        }
                        .aboutUs-middleChild{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            gap: 20px;
                            padding: 30px 35px;
                            transition: .3s;
                            font-family: 'Poppins', sans-serif;
                            height: 100%;
                        
                            .icons{
                               height: 60px;
                                width: 60px;
                                border-radius: 50%;
                                line-height: 50px;
                                background: #8231EB;
                                color: #fff;
                                text-align: center;
                                margin:0 auto;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                i{
                                    font-size: 30px;
                                }
                            }
                            h4{
                                color: #233d63;
                                font-size: 1.5vw;
                                font-weight: 600;
                                @include Destop{
                                    font-size: 20px;
                                }
                            }
                            .icons-text{
                                padding: 10px 0;
                                cursor: grab;
                                text-align: justify;
                            p{
                                font-size: 15px;
                                line-height: 25px;
                                color: #7b8491;
                                font-weight: 500;
                            }
                        }
                            &:hover{
                                box-shadow: 0px 20px 40px 0px rgba(0, 23, 88, 0.2);
                                background: #fff;
                                transition: all .3s ease-out;
                                color: #ddd;
                                transition: .3s;
                                .icons{
                                    background:#8231EB ;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                button{
                  padding: 10px;
                  background: inherit;
                  color: #7b8491;
                  border: 1px solid #8231EB;
                  display: flex;
                  margin:4% auto 0;
                  transition: .3s;
                  &:hover{
                    transition: .3s;
                    background: #8231EB;
                    color: #fff;
                  }
            }
        }
        }
        .about-usBottom{
            // background-image: url('https://www.kissdental.co.uk/wp-content/uploads/2022/09/back-header-768x1405.jpg');
            padding: 10px 0;
            margin: 5% 0;
            .Container{
                .bottomTittle{
                    padding: 0;
                    text-align: center;
                    h1{
                        padding: 0;
                        color: #233d63;
                            font-weight: 700;
                            font-size: 2.3vw;
                            @include Destop{
                                font-size: 2.1rem;
                            }
                    }
                }
                .aboutUs-bottomContainer{
                    padding: 0 7%;
                    .aboutUs-bottomParentright,
                    .aboutUs-bottomParent{
                        margin: 4% 0;
                    }
                    .aboutUs-bottomParent{
                        padding: 10px 20px;
                        margin: auto 0;
                        .aboutUs-bottomChildbox{
                            margin: auto 0;
                            .bottomChildbox{
                            box-shadow: 0px 20px 40px 0px rgba(0, 23, 88, 0.2);
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            gap: 20px;
                            padding: 20px;
                            border-radius: 30px;
                            height: 100%;
                            .number-box{
                                display: flex;
                                justify-content: center;
                                flex: 1;
                                color: #fff;
                                font-weight: 600;
                                p{
                                    width: 50px;
                                    height: 50px;
                                    line-height: 50px;
                                    border-radius: 50%;
                                    background: #8231EB;
                                    text-align: center;
                                }
                            }
                               .textbox{
                                flex: 8;
                                h3{
                                    font-size: 1.1vw;
                                    color: #233d63;
                                    font-weight: 600;
                                    @include Destop{
                                        font-size: 15px;
                                    }
                                }
                                p{
                                    color: #7b8491;
                                    font-size: 0.9vw;
                                    line-height: 1.5vw;
                                    @include Destop{
                                        font-size: 13px;
                                        line-height: 25px;
                                    }
                                }

                            }
                        }
                    }
                    .bottomboxchildright{
                        padding: 0 0 0 10%;
                    }

                }
                .aboutUs-bottomParentright{
                    .aboutUs-bottomChildright{
                        height: 100%;
                    .bottomImg{
                        background-image: url(../Images/ImageBlog/05.jpg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        border-radius: 20px;
                        width: 100%;
                        height: 40vh;
                    }
                //     .bottomImgbox{
                //         height: 100%;
                //         .boxImgWrapper{
                //             margin-top: 10%;
                //             display: flex;
                //             border: 10x solid #8231EB;
                //         .leftbox{
                //             flex: 1;
                //             color: #fff;
                //             text-align: center;
                //             background: #8231EB;
                //             border-radius: 20px 0 0 20px;
                //             display: flex;
                //             flex-direction: column;
                //             justify-content: center;
                //             padding: 0 25px;
                //             h2{
                //                 font-weight: 700;
                //                 font-size: 2vw;
                //                 @include Destop{
                //                     font-size: 2.3rem;
                //                 }
                //             }
                //             span{
                //                 color: #fff;
                //                 font-size: 1.2vw;
                //                 @include Destop{
                //                     font-size: 18px;
                //                 }
                //             }
                //         }
                //         .rightbox{
                //             flex: 5;
                //             background-image: url(../Images/ImageBlog/03.jpg);
                //             background-position: center;
                //             background-repeat: no-repeat;
                //             background-size: cover;
                //             border-radius: 0 20px 20px 0;
                //             width: 100%;
                //             height: 27vh;
                //         }
                //     }
                // }
                }
                }
            }
            }
        }
        .about-usBottom-2{
            .container{
                .bottom-2-Tittle{
                    text-align: center;
                    h1{
                        color: #233d63;
                        font-size: 3vw;
                        font-weight: 600;
                        line-height: 1.4;
                         margin: 0;
                           @include Destop{
                             font-size: 2.5rem;
                         }
                        @include mobile{
                            font-size: 35px;
                        }
                    }
                }
                .aboutUs-bottom-2-Container{
                    margin: 5% 0;
                    .aboutUs-bottom-2-Parent{
                        .aboutUs-bottom-2-Childbox{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            height: 100%;
                            padding: 50px 40px;
                            transition: all .3s ease-in;
                                box-shadow: 0px 20px 40px 0px rgba(0, 23, 88, 0.2);
                                background: #fff;
                                transition: all .3s ease-out;
                            img{
                                width: 30%;
                                margin: 0 auto;
                                align-items: center;
                                margin-bottom: 40px;
                            }
                        }
                        .bodyText{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            text-align: center;
                            h3{
                                font-size: 1.4vw;
                                font-weight: 600;
                                font-family: 'Poppins', sans-serif;
                                 color: #233d63; 
                                 @include Destop{
                                    font-size: 1.5rem;
                                 }
                                 @include mobile{
                                    font-size: 1.3rem;
                                 }
                            }
                            p{
                                font-size: 1vw;
                                line-height: 2vw;
                                color: #7b8491;
                                transition: .3s;
                                text-align: justify;
                                font-weight: 500;
                                  @include Destop{
                                    font-size: 16px;
                                    line-height: 25px;
                                 }
                    
                        }
                            }
                    }
                }
            }
        }
        .aboutUs-footer{
            .container{
                .aboutUs-footerContaienr{
                    .aboutUs-footerParent{
                        .aboutUs-footerChild{
                            margin-top: 30px;
                            background-color: #eff1f4;
                            padding: 50px ;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            gap: 20px;
                            justify-content: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-transition: all 500ms ease;
                            transition: all 500ms ease;
                            .leftfooterChild{

                            }
                            .rightfooterChild{
                                h1{
                                        text-decoration: none;
                                        margin: 0;
                                        color: #233d63;
                                        font-size: 1.5rem;
                                        font-weight: bold;
                                        text-transform: capitalize;
                                        -webkit-transition: all 500ms ease;
                                        transition: all 500ms ease;
                                        cursor: pointer;
                                        @include Destop{
                                            font-size: 21px;
                                    }
                                }
                            }
                        }
                    }
                }
                .aboutUsfooterTextDisplay{
                    margin: 5% 0;
                    .aboutUsfooterTextDisplayParent{
                        height: 100%;
                        .aboutUsTextDisplayChild{
                            height: 100%;
                            .imgDisplay{
                                    width: 100%;
                            }
                            .textdisplay{
                                margin-top: 10%;
                                display: block;
                                margin-left: 5%;
                                border: 2px solid #8231EB;
                                padding: 20px;
                                h1{
                                    padding: 0;
                                    color: #233d63;
                                        font-weight: 700;
                                        font-size: 2.1vw;
                                        @include Destop{
                                            font-size: 1.9rem;
                                        }
                                }
                                p{
                                    color: #7b8491;
                                    margin: 2% 0;
                                    font-size: 1.1vw;
                                    line-height: 2vw;
                                    text-align: justify;
                                    @include Destop{
                                        font-size: 16px;
                                        line-height: 28px;
                                        max-width: 500px;   
                                    }
                                }
                            }
                            .none{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
  }