@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}

.contact-us{
    *{
        list-style: none;
        text-decoration: none;
    }

         .ContactBody{
            width: 100%;
            padding: 0;
            margin: 0;
            .contactBodyText{
                width: 100%;
                margin-top: 10%;
                .contactBodyTextParent{
                    .contactBodyTextChild{
                        text-align: center;
            h1{
                font-size: 2.5vw;
                font-weight: 600;
                transition: .3s;
                font-family: 'Poppins', sans-serif;
              color: #233d63; 
              margin-bottom: 2%;
              @include Destop{
                font-size: 2.5rem;
              }
              @include tablet{
              font-size: 1.6rem;
        }
            }
            p{
                font-size: 1vw;
                font-weight: 500;
                line-height: 2vw;
                color: #7b8491;
                margin-bottom: 15px;
                transition: .3s;
                @include Destop{
                    font-size: 15px;
                    line-height: 25px;
                  }
            }
        }
    }
}
         .contactBodyAdress{
            width: 100%;
            height: 100%;
            padding:5% 10% ;
            align-items: center;
            @include tablet{
                padding: 3% 0 0 5%;
            }
            .contactBodyAdressParent,
            .contactBodyMailParent{
              height: 100%;
              position: relative;
            }
            .contactBodyAdressParent{
                margin: 0;
                .contactBodyAdressParentChild{
                    height: 100%;
                    background: #8231EB;
                    padding: 40px 40px;
                    @include tablet{
                        padding:  20px;
                    }
                    .contactBodyAdressParentChildTop{
                        h1{
                            font-size: 2vw;
                            font-weight: 600;
                            transition: .3s;
                            font-family: 'Poppins', sans-serif;
                          color: #fff; 
                          @include Destop{
                            font-size: 2rem;
                          }
                          @include tablet{
                            font-size: 1.6rem;
                          }
                        }
                        p{
                            font-size: 1.1vw;
                            font-weight: 520;
                            line-height: 2vw;
                            color: #fff;
                            margin-bottom: 15px;
                            transition: .3s;
                            @include Destop{
                                font-size: 16px;
                                line-height: 25px;
                              }
                              @include tablet{
                                font-size: 15px;
                              }
                        }
                    }
                        .contactBodyAdressParentChildButtom{
                            margin-top: 15%;
                            ul{
                                padding: 0;
                                li{
                                    margin-bottom: 30px;
                                    align-items: center;
                                    .listRight{
                                        float: left;
                                        margin-right: 10px;
                                        img{
                                            vertical-align: middle;
                                            border-style: none;
                                            width: 100%;
                                        }
                                    }
                                    .listLeft{
                                        overflow: hidden;
                                    h3{
                                        font-size: 1.3vw;
                                        font-weight: 700;
                                        transition: .3s;
                                        font-family: 'Poppins', sans-serif;
                                      color: #fff; 
                                      @include Destop{
                                        font-size: 1.2rem;
                                      }
                                      @include mobile{
                                        font-size: 1.1rem;
                                        font-weight: 600;
                                      }
                                    }
                                    p{
                                        font-size: 1vw;
                                        font-weight: 600;
                                        line-height: 28px;
                                        color: #fff;
                                        margin-bottom: 15px;
                                        transition: .3s;
                                        @include Destop{
                                            font-size: 15px;
                                            line-height: 25px;
                                          }
                                          @include mobile{
                                            font-size: 0.9rem;
                                            font-weight: 500;
                                          }
                                    }
                                }
                                }
                            }
                        }
                    }
                }
            .contactBodyMailParent{
                margin: 0;
                .contactBodyMailParentChild{
                    padding: 0 10% 0 0;
                    height: 100%;
                    @include tablet{
                        margin: 5% 0;
                        padding: 0;
                    }
                    @include mobile{
                        margin: 10% 0;
                
                    }
                    form{
                        width: 100%;
                        height: 100%;
                        // input{
                        //     width: 100%;
                        //     border: none;
                        //     height: 60px;
                        // margin-bottom: 30px;
                        // border: 1px solid #e0e3e7;
                        // padding: 0 20px;
                        // text-transform: uppercase;
                        // overflow: visible;
                        // font-size: 12px;
                        //     &::placeholder{
                        //         color: #7b8491;
                        //         font-weight: 700;
                        //     }
                        // } 
                         input{
                            width: 100%;
                            height: 60px;
                            border: 2px solid #eaedff;
                            color: #6f7172;
                            padding: 0 20px;
                            margin-bottom: 20px;
                            outline-style: none;
                            @include mobile{
                                font-size: 13px;
                                height: 50px;
                          }
                            &::placeholder{
                                font-weight: 500;
                            }
                          }
                        // textarea{
                        //     width: 100%;
                        //     height: 200px;
                        //     margin-bottom: 20px;
                        //     border: 1px solid #e0e3e7;
                        //     padding: 20px;
                        //     text-transform: uppercase;font-size: 12px;
                        // }
                        textarea{
                            height: 100%;
                            margin-bottom: 25px;
                            padding: 20px;
                            width: 100%;
                            border: 2px solid #eaedff;
                            color: #6f7172;
                            font-size: 14px;
                            transition: .3s;
                            outline-style: none;
                            font-size: 0.9vw;
                          }
                        button{
                            background: #8231EB;
                            border-radius: 5px;
                            padding: 12px 35px;
                            color: #fff;
                            cursor: pointer;
                            font-weight: 700;
                            font-size: 15px;
                            text-transform: uppercase;
                            border: none;

                            &:hover{
                                border: 1px solid #8231EB;
                                background: #fff;
                                color: #8231EB;
                            }
                        }
                }
            }
            }
         }
         }
         .googleMap{
            width: 100%;
            iframe{
                width: 100%;
                height: 100vh;
                border: none;
            }
         }
        
        }