
@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1240px) {
        @content;
    }
}

@keyframes animationFramesOne {
    0% { transform: translateX(0px) translateY(0px); }
    50% { transform: translateX(10px) translateY(-50px); }
    100% { transform: translateX(0px) translateY(50px); }
  }
  
  @keyframes animationFramesTwo {
    0% { transform: translateX(0px) translateY(0px); }
    50% { transform: translateX(-15px) translateY(50px); }
    100% { transform: translateX(0px) translateY(-30px); }
  }
  
  @keyframes animationFramesFive {
    0% { transform: translateX(0px) translateY(0px); }
    50% { transform: translateX(20px) translateY(-10px); }
    100% { transform: translateX(0px) translateY(50px); }
  }
  *{
    list-style: none;
    text-decoration: none;
}

.footer{
    width: 100%;
    background: #f9f5fe;
    position: relative;
    z-index: 1;
    .animate-icons{
        .shape-slider{
            .shape {
                top: 20%;
                position: absolute;
              }
            .shape-2 {
                left: 3%;
                top: 50%;
                animation: animationFramesTwo 20s alternate infinite linear;
              }
              .shape-4 {
                left: 50%;
                top: 40%;
                animation: animationFramesOne 20s alternate infinite linear;
              }
              .shape-5 {
              right: 5%;
            top: 15%; 
            animation: animationFramesFive 20s alternate infinite linear;
            }
            .shape-6 {
            right: 15%;
            top: 60%;
            animation: animationFramesOne 20s alternate infinite linear;
            }
        }
    }
    .footerBody{
        padding: 0 5%;
        .footerBodyContainer{
            padding:  5% 0;
            margin:0 3% 3%;
            border-bottom: 1px solid gray;
            .footerBodyContainerParent{
                .footerBodyContainerChild{
                    text-align: left;
                    justify-content: left;
                    .footerBodyContainerChildTop{
                        margin: 0 0;
                        padding: 0;
                        width: 100%;
                        max-height: 20vh;
                        @include laptop{
                            max-height: none;
                        }
                        img{
                            margin: -10% 0 0 -5%;
                            width: 50%;
                            @include laptop{
                                margin: 0;
                                width: 30%;
                            }
                        }
                    }
                    .footerBodyContainerChildBody{
                        margin: 0 0;
                        margin-top: -10%;
                        padding: 5% 0;
                        p{
                        font-size: 13px;
                        line-height: 28px;
                        color: #7b8491;
                        margin-bottom: 15px;
                        transition: .3s;
                        font-weight: 600;
                            font-family: 'Poppins', sans-serif;
                        }

                    }
                    .footerBodyContainerChildButtom{
                        margin: 3% 0;
                        ul{
                            list-style: none;
                            display: flex;
                            gap: 10px;
                            padding: 0;

                            li{
                                a{
                                    text-decoration: none;
                                    i{
                                        font-size: 17px;
                                        color: #7b8491;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                      
                    }
                }
            }

            .footerRightParent{
                .footerRightChild{
                    flex-wrap: wrap;
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0 0 10px;
                    padding: 0;
                    @include mobile{
                        gap: 50px;
                    }
                    .footerRightChildTittle{
                        flex: 1;
                        margin: 2% auto;
                        h3{
                            font-size: 19px;
                            margin-bottom:  35px;
                            padding: 0;
                            font-weight: 600;
                            transition: .3s;
                            font-family: 'Poppins', sans-serif;
                            color: #233d63;
                        }
                        ul{
                            padding: 3% 10px 0 0;
                            list-style: none;
                            li{
                                margin-bottom: 5px;
                                a{
                                    text-align: left;
                                    text-decoration: none;
                                    font-size: 13px;
                                    line-height: 28px;
                                    color: #7b8491;
                                    margin-bottom: 15px;
                                    transition: .3s;
                                    font-weight: 600;
                                     font-family: 'Poppins', sans-serif;

                                    &:hover{
                                        color: #233d63;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .copyright{
            margin: 0 3%;
            .copyrightParent{
                .copyrightChild{
                    float: left;
                p{
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 28px;
                    color: #7b8491;
                    margin-bottom: 15px;
                    transition: .3s;
                }
            }
            }
            .copyrightParentLink{
                .copyrightChildLink{
                    float: right;

                    @include mobile{
                        float: left;
                    }
                    ul{
                        display: flex;
                        gap: 10px;
                        list-style: none;
                        li{
                            a{
                                text-transform: uppercase;
                                text-decoration: none;
                                font-size: 13px;
                                line-height: 28px;
                                color: #7b8491;
                                margin-bottom: 15px;
                                transition: .3s;
                                font-weight: 600;
                                 font-family: 'Poppins', sans-serif;

                                &:hover{
                                    color: #233d63;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}