@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1240px) {
        @content;
    }
}

*{
    list-style: none;
    text-decoration: none;
}


.Login{
    width: 100%;
    overflow-x: hidden;
       .loginBody{
        margin: 10% 0;
        @include tablet{
            margin: 5% 0;
        }
        @include mobile{
            margin: 0 0 15%;
            padding: 0 3%;
        }
        .container{
            .row{
                     .basic-loginParent{
                        @include tablet{
                            width: 100%;
                            padding: 0;
                        }
                        display: flex;
                        justify-content: center;
                        margin:0 auto;
                     .basic-login{
                        width: 100%;
                        padding: 90px;
                        border: 20px solid #fff;
                        box-shadow: 0px 50px 100px 0px rgba(12, 0, 46, 0.05);
                        background: #FBFBFB;
                        @include laptop{
                            padding: 50px;
                        }
                        @include tablet{
                            padding: 40px 20px;
                        }
                        @include mobile{
                        width: 100%;
                            padding: 30px 20px;
                        }
                        h3{
                            font-size: 1.6rem;
                            font-weight: 700;
                            transition: .3s;
                            font-family: 'Poppins', sans-serif;
                          color: #233d63; 
                          margin-bottom: 5%;
                          transition: .3s;
                          @include mobile{
                          font-size: 1.3rem;
                    }
                        }
                        p{
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 28px;
                            color: #8231EB;
                            margin-bottom: 5%;
                            transition: .3s;
                            @include mobile{
                                font-size: 13px;
                          }
                        }
                        a{
                            text-decoration: none;
                            font-size: 15px;
                            font-weight: 600;
                            line-height: 28px;
                            color: #8231EB;
                            margin-bottom: 5%;
                            transition: .3s;
                            @include mobile{
                                font-size: 13px;
                          }
                        }
                    }
                    form{
                        margin-bottom: 30px;
                        .input-action{
                        label{
                            color: #222;
                            display: block;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 500;
                            @include mobile{
                                font-size: 12px;
                                margin-bottom: 10px;
                          }

                            span{
                                color: #8231EB;
                            }
                        }
                        input{
                            width: 100%;
                            height: 60px;
                            border: 2px solid #eaedff;
                            color: #6f7172;
                            padding: 0 20px;
                            margin-bottom: 20px;
                            outline-style: none;
                            @include mobile{
                                font-size: 13px;
                                height: 50px;
                          }
                            &::placeholder{
                                font-weight: 500;
                            }
                          }
                        }
                        .login-action{
                            overflow: hidden;
                            .logrem{
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                padding: 0;
                                margin: 0;
                                .log-rem{
                            display: flex;  
                            gap: 15px;
                            .input{
                                width: 20%;
                                border: 2px solid #eaedff;
                                color: #6f7172;
                                padding: 0;
                                outline-style: none;
                                float: left;
                                @include mobile{
                                    width: 15%;
                              }
                            }
                            .label{
                           color: #222;
                            display: block;
                            cursor: pointer;
                            font-size: 13px;
                            font-weight: 500;
                            float: right;
                            margin-left: -10%;
                            margin-top: 5px;
                            @include mobile{
                                font-size: 13px;
                          }
                            }
                        }
                        .forgetlogin{
                            flex: 1;
                          
                    }
                    }

                        }
                        .login-btn{
                            text-align: center;
                            background: #8231EB;
                            color: #fff;
                            border: 0;
                            padding: 17px 40px;
                            border-radius: 3px;
                            transition: .3s;
                            font-weight: 600;
                            display: inline-block;
                            line-height: 1;
                            text-transform: uppercase;
                            margin-top: 5%;
                            border-radius: 0 10px;  
                            @include mobile{
                                margin: 15% 0 2%;
                                padding: 13px 30px;
                                border-radius: 0 10px;
                            }
                        }
                          .signUp{
                            font-weight: 500;
                            @include mobile{
                                margin: 10% 0 0;
                            }
                            .login-text-btn{
                                border: 0;
                                background: none;
                                color: #8231EB;;
                                outline: medium none;
                                @include mobile{
                                    margin: 5px 0 0;
                                    font-size: 14px;
                                }
                            }
                          }  
                    }
                }
            }
        }
       }
    
}