@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1240px) {
        @content;
    }
}
@keyframes movingleft {
    from { transform: translateX(-100px); }
    to { transform: translateX(0); }
  }
  
  @keyframes movingRight {
    from { transform: translateX(100px); }
    to { transform: translateX(0); }
  }
  @keyframes movingdown {
    from { transform: translateY(-100px); }
    to { transform: translateY(0); }
  }
  @keyframes movingup {
    from { transform: translateY(100px); }
    to { transform: translateY(0); }
  }


    .navbar{
        *{
            list-style: none;
            text-decoration: none;
            margin: auto;
            position: relative;
            a{
                cursor: pointer;
            }
        }
        .scrollChange{
            transition: all 0.4s ease-in-out;
            background-color: #ffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Offset-X | Offset-Y | Blur-Radius | Shadow Color */
        
            @include Destop{
                padding-bottom: 0;
                margin-bottom: 0;
               }
        }
          header{
            background-color: #fff;
            position:fixed;
            width: 100%;
            top: 0;
            z-index: 999;
            font-family: 'Poppins', sans-serif;
            transition: .4s ease-in-out;
            flex-wrap: wrap;
            margin-top: 0;
        
        .Container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            line-height: 50px;
            align-items: center;
              margin: 0;
              padding: 0;
              margin-top: -15px;
              @include laptop{
                gap: 50%;
            }
              .logo  img{
                  max-width: 110px;
        }
              .topbarMenu{
                ul{
                    list-style: none;
                    display: flex;
                    gap: 40px;
                    flex-wrap: wrap;
                }
                .topbarMenu-ul{
                    padding: 0;
                    list-style: none;
                    display: flex;
                    gap: 100px;
                    flex-wrap: wrap;
                     margin: 0;
                      
                    .nav-item{
                        position: relative;
                        display: block;
                        transition: all 0.25s ease;
    
                    .nav-link{
                        text-decoration: none;
                        color: #000;
                        font-weight: 500;
                        font-size: 13px;
                        margin: 0;
                        display: inline-block;
                        border: none;
                        &:hover{
                         opacity: 0.7;
                        transition: all 0.4s ease-in-out;
                        color: #8231EB;
                        }
                    }
                    .active{
                        // border-bottom: 2px solid #007bff;
                    }
                    
           .triangle{
            position: absolute;
            top: 100%;
            left: 10px;
            width: 40%;
            height: 40%;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 30px solid #fff;
            opacity: 0;
            visibility: hidden;
           }
           .submenu{
            min-width:700px;
               position: absolute;
               top: 150%;
               left: -20px;
               padding: 5px 15px 5px 0;
               border-radius: 5px;
               margin: 0;
               background-color: #fff;
               border-top: 1px solid #8231EB;
               box-shadow: 0px 20px 40px 0px rgba(0, 23, 88, 0.2);
               opacity: 0;
               visibility: hidden;
               display: flex;
               justify-content: space-between;
               gap: 10px;
               .dFlex{
                   margin: 0px;
                   flex: 1;
                   border-right: #8231EB;

                   ul{
                      display: block;
                      text-align: center;
                      padding: 10px 0;
                      display: flex;
                      flex-direction: column;
                      gap: 10px;
                      font-family: 'Poppins', sans-serif;
                      li{
                          padding: 3px 5px;
                          text-align: left;
                          transition: all 0.25s ease-in-out;
                          display: flex;
                          .hoverImg{
                          img{
                            width: 20%;
                          }
                        }
                       p{
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        line-height: 2;
                        text-align: left;
                        margin-top: 20px;
                        a{
                            text-decoration: none;
                            font-size: 15px;
                            font-weight: 500;
                            color: #000;
                            margin: 0;
                            padding: 0;
                            &:hover{
                             opacity: 0.7;
                             transition: 0.3s ease-in-out;
                             color: #8231EB;
                            }
                          }
                          span{
                            font-size: 13px;
                            font-weight: 400;
                            color: gray;
                          }
                       }
                      }
                   }
               }
               .dMiddleLine{
                height: 30vh;
                width: 1px;
                border-right: 2px solid #f9f5fe;

               }
            }
            .submenu2{
                min-width:600px;
                   position: absolute;
                   top: 150%;
                   right: -20px;
                   padding: 5px 15px 5px 0;
                   border-radius: 5px;
                   margin: 0;
                   background-color: #fff;
                   border-top: 1px solid #8231EB;
                   box-shadow: 0px 20px 40px 0px rgba(0, 23, 88, 0.2);
                   opacity: 0;
                   visibility: hidden;
                   display: flex;
                   justify-content: space-between;
                   gap: 10px;
                   .dFlex{
                       margin: 0px;
                       flex: 1;
                       border-right: #8231EB;
    
                       ul{
                          display: block;
                          text-align: center;
                          padding: 10px 0;
                          display: flex;
                          flex-direction: column;
                          gap: 10px;
                          font-family: 'Poppins', sans-serif;
                          li{
                              padding: 3px 0;
                              text-align: left;
                              transition: all 0.25s ease-in-out;
                              display: flex;
                              .hoverImg{
                              img{
                                width: 80%;
                              }
                            }
                           p{
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            line-height: 2;
                            text-align: left;
                            margin-top: 20px;
                            a{
                                text-decoration: none;
                                font-size: 15px;
                                font-weight: 500;
                                color: #000;
                                margin: 0;
                                padding: 0;
                                &:hover{
                                 opacity: 0.7;
                                 transition: 0.3s ease-in-out;
                                 color: #8231EB;
                                }
                              }
                              span{
                                font-size: 13px;
                                font-weight: 400;
                                color: gray;
                              }
                           }
                          }
                       }
                   }
                   .dMiddleLine{
                    height: 20vh;
                    width: 1px;
                    border-right: 2px solid #f9f5fe;
    
                   }
                }        
                &:hover .submenu, 
                &:hover .submenu2{
                   opacity: 1;
                   visibility: visible;
                   transition: 0.3s; 
                }
                &:hover .triangle{
                    opacity: 1;
                    visibility: visible;
                    // transition: all 0.3s ease-out;
                }
               }
        }
        @include laptop{
           display: none;
       }
       }
       .loginButton{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          a{
             text-decoration: none;
             color:#8231EB;
             font-size: 13px;
             font-weight: 500;
             text-align: center;
              @include laptop{
             display: none;
         }
         }
         .submit{
             background-color: #8231EB;
             color: #fff;
             font-size: 1rem;
             padding: 10px 30px;
             border: none;
             display: block;
             outline: none;
             overflow: hidden;
             border-radius: 5px;
             transition: 0.5s ease;
             text-transform: uppercase;
             font-weight: 600;
             font-size: 13px;
             margin: 0;
              @include laptop{
             display: none;
         }
                
         &:hover{
            background-color:#a96ef7;
            color: #fff;
            border: none;
            transition: 0.5s ease;
         }
        }
         .toggle{
            background-color: #8231EB;;
            color: #fff;
            border: 1px solid #fff;
            font-size: 1rem;
            padding: 15px 20px;
            display: block;
            border-radius: 5px;
            transition: 0.5s ease;
            cursor: pointer;
            display: none;
            outline: none;
            overflow: hidden;
            transition: 0.5s ease;
             @include laptop{
                 display: block;
             }
        }
      }
        }
      
        .mobileResponsive{
            display: none;
            align-items: center;
            padding: 5px;
            // animation: movingdown .3s ease;
            ul{
                 list-style: none;
                display: block;
                li{
                    position: relative;
                    float: left;
                    width: 98%;
                    margin-bottom: 1px;
                    transition: .3s;
                    @include mobile{
                        width: 100%;
                        margin-left: -5%;
                    }
                    a{
                        background-color: #1B1D3D;
                        border-top: 1px solid rgba(255, 255, 255, 0.5);
                        color: #fff;
                        display: block;
                        float: left;
                        text-decoration: none;
                        text-transform: uppercase;
                        width: 90%;
                        font-size: 12px;
                        padding: 12px;
                        transition: .3s;
                        @include mobile{
                            width: 85%;
                        }
                    &:hover{
                        opacity: 0.9;
                        color: gray;
                    }
                    }
                    i{
    
                        background-color: #1B1D3D;
                        border-top: 1px solid rgba(255, 255, 255, 0.5);
                         padding: 13px;
                         justify-content: center;
                         color: #fff;
                         margin-left: 3px;
                         z-index: 5;
                         transition: .3s;
                        &:hover{
                            opacity: 0.9;
                            color: gray;
                        }
                    }
                    ul{
                        display: block;
                        padding: 0;
                        margin: 0;
    
                        li{
                            margin:0;
                            overflow: hidden;
                            width: 100%;
                            .i{
                                position: absolute;
                                background-color: #1B1D3D;
                                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                                 padding:22px 21px;
                                 margin-top: 1px;
                                 justify-content: center;
                                 color: #fff;
                                 transition: .3s;
                            }
                        }
                    }
                }
            }
    
            @include laptop{
                display: block;
            }
            @include Destop{
                display: none;
            }
         }
         #open{
            display: block;
            animation: movingdown .5s ease-in-out;
    
         }
         #close{
            display: none;
            animation: movingup .3s ease;
         }
         }/***** HEADER END *****/
        //  .headerCover{
        //     width: 100%;
        //     height: 100vh;
        //     position: fixed;
        //     background: #000;
        //     opacity: 0.5;
        //     z-index:2;
        //     visibility: hidden;
        //     display: none;
        //  }
        //  header {
        //     // ... (existing code)
        
        //     .submenu2 {
        //         // ... (existing code)
        //     }
        
        //     &:hover .submenu2 {
        //         opacity: 1;
        //         visibility: visible;
        //         transition: all 0.3s ease-out;
        
        //         // When submenu2 is visible, show the headerCover
        //         + .headerCover {
        //             visibility: visible;
        //             display: block;
        //         }
        //     }
        // }
        }