@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin Responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }

@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.resources{
    width: 100%;

    .resourcesBody{
        margin:  0;
        width: 100%;
        @include Responsive(760px){
        margin: 5% 0;
            }
        .resourcesWrapper{
            display: flex;
            flex-wrap: wrap;
             gap: 50px;
            max-width: 100%;
            margin: 0;
            padding: 0;
            height: 100%;
            @include Responsive(760px){
                flex-direction: column;

            }
        .sidebar{
            flex: 1;
            position: sticky;
            top: 2rem;
            background-color: #835fb2;
            margin: 0;
            @include tablet{
                flex: 1.5;
            }
             @include Responsive(760px){
             display: none;
            }
                    .sidebarChild{
                        margin: 25% 0 0;
                        padding: 0 20px;
                        position: sticky;
                        top: 8rem;
                        transition: .3s;
                        .sidebarLink{
                            // background-color: rgba(131, 95, 178,0.2);
                            background-color: rgba(73, 18, 146, 0.2);
                            opacity: 0.9;
                            transition: 0.4s;
                            // flex-grow: 1;
                            // flex-basis: 300px;
                            //  flex-grow: 1;
                            //  flex-basis: 300px;
                            //  position: sticky;
                            //  top: 2rem;
                             border-radius: 20px;
                        ul{
                            padding: 20px 20px;
                            li{
                                margin-bottom: 15px;
                                color: #fff;
                                border-radius: 5px;
                                padding: 10px ;
                                    display: flex;
                                    gap: 20px;
                                    align-items: center;
                                    text-align: center;
                                    text-decoration: none;
                                    transition: .3s;
                                    border-radius: 10px;
                                    padding: 10px 0;
                                    cursor: pointer;
                                    &:hover{
                                        // background-color: rgb(6, 15, 31);
                                        background-color: #835fb2;
                                        transition: .3s;
                                        padding: 10px 20px;
                                    }
                                    p{
                                        font-size: 1.2rem;
                                        text-align: center;
                                        padding: 0;
                                        margin: auto 0;
                                    }
                                    svg{
                                        fill: #fff;
                                        width: 30px;
                                        height: 30px;
                                    }
                            }
                            .activeli{
                            //  background-color: rgb(6, 15, 31);
                            background-color: #6e42a7;
                            transition: .3s;
                            padding: 10px 20px;
                        }
                        }
                    }
            }
        }
        .responsiveSidebar{
            display: none;
            @include Responsive(760px){
                display: block;
               }
            .responsiveSidebarContainer{
                margin-top: 2%;
                .filterMobile{
                    background-color: #fff;
                    box-shadow: 0px 10px 20px 0px rgba(0, 23, 88, 0.1);
                    transition: .3s;
                    padding: 10px  0 0;
                    width: 80%;
                    margin:0 auto;
                    border-radius: 20px;
                    .filterMobilechild{
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    position: relative;
                    p{
                        text-align: center;
                        font-size: 20px;
                    }
                    .svgContainer {
                        position: relative;
                        svg {
                          width: 30px;
                          height: 30px;
                          position: absolute; // Position both SVGs
                        }
                          .svg-1 {
                            top: 0;  
                            left: 0;
                            display: none; 
                            width: 30px;
                            height: 30px;
                            transform: scale(1.1);
                             path {
                                stroke-width: 2px;
                              }
                              
                          }
                      
                          .svg-2 {
                            top: 0;  
                            left: 0;
                          }
                       }
                        .dropdownOpen {
                          .svg-1 {
                            display: block;  
                          }
                          .svg-2 {
                            display: none; 
                          }
                        }
                      
                        .dropdownClosed {
                          .svg-1 {
                            display: none;  
                          }
                          .svg-2 {
                            display: block;  
                          }
                        }
                }
                    .dropdownMenu{
                        padding: 20px 20px;
                        li{
                            margin-bottom: 15px;
                            color: #ddd;
                            border-radius: 5px;
                            padding: 10px ;
                                display: flex;
                                gap: 20px;
                                align-items: center;
                                text-align: center;
                                text-decoration: none;
                                transition: .3s;
                                border-radius: 10px;
                                padding: 10px 0;
                                position: relative;
                                cursor: pointer;
                                &:hover{
                                    // background-color: rgb(6, 15, 31);
                                    background-color: #835fb2;
                                    transition: .3s;
                                    padding: 10px 20px;
                                    color: #fff;
                                }
                                p{
                                    font-size: 1.2rem;
                                    text-align: center;
                                    padding: 0;
                                    margin: auto 0;
                                    &:hover{
                                        color: #fff;
                                    }
                                }
                                svg{
                                    fill: #ddd;
                                    width: 30px;
                                    height: 30px;
                                    &:hover{
                                        fill: #fff;
                                    }
                                }
                        }
                        .activeli{
                        //  background-color: rgb(6, 15, 31);
                        background-color: #6e42a7;
                        transition: .3s;
                        padding: 10px 20px;
                        color: #fff;
                        svg{
                            fill: #fff;
                        }
                    }
                    }
                }
            }
        }
        main{
            flex: 3;
            @include Responsive(760px){
                width: 100%;
                overflow-x: hidden;
            }
        .rightbar{
        margin: 5% 0;
            height: 100%;
            .rightbarContainer{
                padding: 0 5% 0 0;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 2rem;
                @include Destop{
                    grid-template-columns: repeat(2, 1fr);
                }
                @include Responsive(760px){
                    padding: 0 20px;
                    grid-template-columns: repeat(1, 1fr)
                }
                .rightbarParent{
                    .rightbarChild{
                        display: flex;
                        gap: 30px;
                        background-color: #f9f5fe;
                        border-radius: 20px;
                        padding: 50px 20px 20%;
                        margin-bottom: 30px;
                        position: relative;
                        height: 100%;
                        transition: .3s;
                        @include Responsive(390px){
                            margin-bottom: 40px;
                        }
                        @include tablet{
                            margin-bottom: 80px;
                        }
                        &:hover{
                            box-shadow: 0px 10px 20px 0px rgba(0, 23, 88, 0.1);
                            transition: .3s;
                        }
                        .rightbarRight{
                            flex: 2;
                            display: flex;
                            flex-direction: column;
                            gap: 40px;
                            .rightbarText{
                                text-align: left;
                                display: flex;
                                flex-direction: column;
                                gap: 20px;
                                color: #233d63;
                            h1{
                                font-size: 2.3vw!important;
                                font-weight: 600;
                                margin: 0;
                                @include Destop{
                                    font-size: 2rem;
                                }
                                @include tablet{
                                    font-size: 20px!important;
                                }
                            }
                            p{
                                margin: 0;
                                font-size:1.04vw!important;
                                line-height: 2vw;
                                font-weight: 450;
                                color: #7b8491;
                                @include Destop{
                                    font-size: 0.9rem;
                                    line-height: 25px;
                                }
                                @include tablet{
                                    font-size: 14px!important;
                                }
                        }
                        }
                            button{
                                 position: absolute;
                                 bottom: 10%;
                                 right: 7%;
                                margin-left: auto;
                                width: 50%;
                                border: none;
                                outline-style: none;
                                border-radius: 5px;
                                padding: 15px 10px;
                                background-color: #8231EB;
                                color: #fff;
                                font-size: 1.2rem;
                                transition: .3s;
                                @include Responsive(760px){
                                    width: 50%;
                                    bottom: 5%;
                                }
                                @include Responsive(330px){
                                    font-size: 1rem;
                                }
                                @include Destop{
                                    width: 30%;
                                }
                                @include laptop{
                                    width: 80%;
                                }
                                &:hover{
                                    transition: .3s;
                                }
                            }
                        }
                    }

                }
            }
            .viewFrameWork{
                margin-top: 5%;
                margin-right: 5%;
                display: flex;
                justify-content: center;
                button{
                    border: none;
                    background: #8231EB;
                    color: #fff;
                    font-weight: 500;
                    padding: 20px 40px;
                    border-radius: 5px;
                    transition: all 500ms ease;
                    font-size: 15px;
                }
            }
            .Fillter{
                h1{
                    text-decoration: none;
                    margin: 5% 0 3%;
                    color: #233d63;
                    font-size: 2.5vw;
                    font-weight: bold;
                    text-transform: capitalize;
                    -webkit-transition: all 500ms ease;
                    transition: all 500ms ease;
                    cursor: pointer;
                    @include Destop{
                        font-size: 2rem;
                }
                @include Responsive(760px){
                    margin-left: 30px;
                }
            }
            }
        }
        .nonrightbar{
            display: none;
        }

    }
    }
    }
}

  