@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin Responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }

@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes Pop {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  *{
    list-style: none;
    margin: 0;
    font-style: normal;
  }
  .BookCall{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 15px 0;
    background: #FCF2FF;
    position: relative;
     font-family: 'Poppins' sans-serif;
     @include tablet{
      height: 100%;
     }
    .BookCallContainer{
        width: 70%;
      height: 100%;
      display: flex;
      justify-content: center;
      margin: auto auto;
      @include tablet{
        width: 80%;
      }
        .BookCallParent{  width: 100%;
          align-items: center;
          padding: 30px 0;
            .BookCallChild{
              height: 100%;
              padding: 20px;
              background: #fff;
              border-radius: 20px 0px 0px 20px;
              .BookCallChildTop{
                h2{
                  font-size: 32px;
                  font-weight: 450;
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                  line-height: 42.56px;
                  color: #000929;
                }
                p{
                  font-size: 16px;
                  font-weight: 350;
                  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                  line-height: 20px;
                  color: #263238;
                }
              }
              form{
                .formcontainer{
                  display: flex;
                  flex-direction: column;
                  .formWrapper{
                    display: flex;
                      flex-direction: column;
                      gap: 20px;
                    .inputWrapper{
                      width: 100%;
                      background: #FAF8FD;
                      input{
                        background: inherit;
                        width: 100%;
                        height: 44px;
                        border: none;
                        color: #8A8A8A;
                        padding-left: 20px;
                        border-radius: 6px;
                        font-size: 14px;
                        font-weight: 400;
                        outline-style: none;
                        &:focus {
                          outline: none;
                          border-bottom: 1px solid #0152FF;
                          border-radius: 0 6px;

                        }
                      }
                      .inputflex {
                        background: inherit;
                        display: flex;
                        align-items: center;
                        border-radius: 5px;
                        padding:0 0 0 1rem;
                        position: relative;
                        svg {
                         // margin-right: 0.5rem;
                          fill: #25314C;
                        }
                       .react-tel-input {
                        width: 100%;
                        position: relative;
                        .flag-dropdown {
                          position: absolute;
                          right: 10px; 
                          top: 50%;
                          transform: translateY(-50%);
                          z-index: 2;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          border: none;
                        }
                        .selected-flag {
                          cursor: pointer;
                          background: #FAF8FD; 
                          border: none;
                        }
                         .country-list {
                          background-color: #ffffff;
                          border-radius: 20px;
                          padding: 10px 10px;
                          @include tablet{
                            position: absolute;
                            right:0;
                          }
                        }
                         .country-list .country {
                          color: #263238; 
                          // border-radius: 20px;
                          &:hover{
                            background:#FAF8FD ;
                            border-radius: 10px;
                          }
                        }
                      
                        .form-control {
                          background: inherit;
                          border: none;
                          border-radius: 6px;
                          font-size: 14px;
                          padding: 10px;
                          color: #263238;
                    
                          &:focus {
                              outline: none; 
                              box-shadow: none; 
                              border: none;
                            border-bottom: 1px solid #0152FF;
                            border-radius: 0;
                          }
                        }
                        }
                    }
                    .inputWrapperContainer{
                      background: #fff;
                      display: flex;
                      gap: 30px;
                      .leftWrapper,.rightWrappe{
                        flex: 1;
                        background: #FAF8FD;
                        padding: 0 20px 0 0;
                        border-radius: 6px;
                        .date-picker-container {
                          position: relative;
                          width: 100%;
                          padding: 0;
                          margin: 0;
                          .custom-date-picker {
                           // width: 100%;
                            display: flex;
                            justify-content: space-between;
                         //   border: 1px solid #0152FF;
                            align-items: center;
                            gap: 70px;
                           // border-radius: 5px;
                            padding: 0px;
                             margin: 0;
                            background-color: inherit;
                            cursor: pointer;
                            &:hover {
                              border-color: #6b46c1; // Example hover color
                            }
                        
                            .date-input {
                              cursor: pointer;
                              background: inherit;
                              border: none;
                              outline: none;
                             // flex-grow: 1;
                              font-size: 14px;
                            }
                            svg {
                              width: 10%; 
                              fill: #141418!important;
                            }
                          }
                          .react-datepicker__triangle{
                            display: none;
                          }
                          .custom-calendar {
                            background-color: #ffffff;
                            border:none;
                           // border-radius: 10px;
                            margin-top: 50px;
                            box-shadow: 0px 3px 1px 0px #0000000A;
                            .react-datepicker__navigation {
                              display: none;
                            }
                            .custom-header {
                              width: 100%;
                              height: 40px;
                              position: absolute;
                              top: -60%;
                              z-index: 999;
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                             // gap: 50px;
                              padding:5px;
                              margin: 0 ;
                              background-color: #ffffff;
                             // box-shadow: 0px 3px 1px 0px #0000000A;
                            //  border-bottom: 1px solid #ccc;
                              .custom-headerMonth{
                                display: flex;
                                gap: 10px;
                                align-items: center;
                                span{
                                  white-space: nowrap;
                                  font-family: Inter;
                                  font-size: 11.07px;
                                  font-weight: 400;
                                  line-height: 14.32px;
                                  letter-spacing: 1;
                                  text-align: left;
                                  color: #828282;
                                  
                                }
                                .custom-nextMonth-btn{
                                  background: none;
                                  border: none;
                                  color: #5819AE;
                                  font-size: 10px;
                                  margin: 0px;
                                  cursor: pointer;
  
                                  &:disabled {
                                    color: #ccc;
                                    cursor: not-allowed;
                                  }
                              
                                  &:hover {
                                    color: #5a2abf;
                                  }
                                }
                              }
                              .custom-headerButtom{
                                display: flex;
                                gap: 20px;
                              .custom-prev-btn,
                              .custom-next-btn {
                                background: none;
                                border: none;
                                color: #5819AE;
                                font-size: 12px;
                                margin: 0px;
                                cursor: pointer;

                                &:disabled {
                                  color: #ccc;
                                  cursor: not-allowed;
                                }
                            
                                &:hover {
                                  color: #5a2abf;
                                }
                              }
                            }
                            }
                            
                            .react-datepicker__day--selected {
                              background-color: #f5f5f5!important;
                              color: #0152FF!important;
                            }
                          
                            .react-datepicker__header {
                              background-color: #ffffff;
                              border:none;
                              margin-bottom: -10px;
                            }
                          
                            .react-datepicker__current-month {
                             // font-weight: bold;
                            }
                            .react-datepicker__day-name {
                              color: #828282;
                              //font-weight: bold; 
                              font-size: 13px;
                            }
                            .react-datepicker__day--outside-month {
                              visibility: hidden;
                          }
                            .react-datepicker__day {
                              font-size: 14px;
                              color: #828282;
                              background: #ffffff;
                              &:hover {
                                background-color: #f5f5f5;
                                border: none;
                              }
                            }
                          } 
                        }
                        .custom-time-picker {
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          background-color: inherit;
                          border-radius: 10px;
                          padding:0  10px;
                          height: 100%; // Increased height
                          width: 100%; // Adjust width as needed
                        
                          &:hover {
                            border-color: #0152FF;
                          }
                        
                          .time-icon {
                            font-size: 15px; 
                            color: #141418;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                          }
                        
                          .custom-time-picker-input {
                            flex-grow: 1;
                            .react-time-picker__wrapper {
                              border: none;
                              outline: none;
                              display: flex;
                              align-items: center;
                              gap: 0px;
                              background: transparent;
                            }
                            .custom-time-picker-input::-webkit-input-placeholder {
                              color: #777;
                            }
                            .react-time-picker__inputGroup {
                              display: flex;
                              align-items: center;
                              gap: 5px;
                              font-size: 14px;
                              color: #25314c;
                              span{
                                margin-right: 5px;
                              }
                              input {
                                border: none;
                                outline: none;
                                gap: 5px;
                                text-align: center;
                                padding-left: 0px;
                        
                                &::placeholder {
                                  color: #8a8a8a;
                                }
                              }
                              select{ 
                                padding: 2px;
                                border: none;
                                outline:none;
                                background-color: #FFFFFF;
                                box-shadow: 0px 3px 1px 0px #0000000A; 
                                border-radius: 4px;                             
                              }
                            }
                        
                            .react-time-picker__clock-button {
                              display: none; 
                            }
                          }
                        }
                        
                        
                        
                        // .date-input {
                        //   width: 100%;
                        //   background-color: #000;
                        //   border: none;
                        //   border-radius: 5px;
                        //   padding: 10px;
                        //   font-size: 14px;
                        //   width: 100%;
                        //   cursor: pointer;
                        
                        //   &:focus {
                        //     outline: none;
                        //     border-color: none;
                        //   }
                        // }
                        
                        // .custom-calendar {
                        //   background-color: #FAF8FD;
                        //   border:none;
                        //   border-radius: 10px;
                        //   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                        //   // position: absolute;
                        //   // top: 0;
                        //   .react-datepicker__triangle{
                        //     display: none;
                        //   }
                        //   .react-datepicker__navigation{
                        //     position: absolute;
                        //     display: flex;
                        //     width: 100%;
                        //     justify-content: space-between; 
                        //     background: inherit;
                        //     color: #000;
                        //     margin: auto;
                        //   }
                        //   .react-datepicker__navigation--previous{
                        //     left: 0;
                        //   }
                        //   .react-datepicker__navigation-icon--previous::before {
                        //     width: 0;
                        //     height: 0;
                        //     transform: rotate(0deg);
                        //     border-top: 10px solid #0152FF;
                        //     border-bottom: none;
                        //     border-right: 15px solid #0152FF;
                        //     content: "";
                        //     display: block;
                        //     position: absolute;
                        //     top: 9px;
                        // }
                        // .react-datepicker__navigation--next{
                        //   right: 0;
                        // }
                        //   .react-datepicker__navigation-icon--next::before {
                        //     width: 0;
                        //     height: 0;
                        //    // transform: rotate(45deg);
                        //     border-top: 10px solid #0152FF;
                        //     border-bottom: none;
                        //     border-left: 15px solid #0152FF;
                        //     content: "";
                        //     display: block;
                        //     position: absolute;
                        //     top: 9px;
                        // }
                        //   .react-datepicker__day--selected {
                        //     background-color: #FAF8FD;
                        //     color: #25314C;
                        //     &:hover {
                        //       background-color: #f5f5f5;
                        //     }
                        //   }
                        
                        //   .react-datepicker__header {
                        //     background-color: #FAF8FD;
                        //     color: #0152FF;
                        //     border:none;
                        //   }
                        
                        //   .react-datepicker__current-month {
                        //     font-weight: bold;
                        //   }
                        
                        //   .react-datepicker__day {
                        //     font-size: 14px;
                        //     color: #25314C;
                        //     background: #FAF8FD;
                        
                        //     &:hover {
                        //       background-color: #f5f5f5;
                        //       border: none;
                        //     }
                        //   }
                        // }                 
                      }
                    }
                    textarea{
                      width: 100%;
                      height: 94px;
                      border: none;
                      background: inherit;
                      outline-style: none;
                      padding: 10px 0px 0 20px;
                      border-radius: 6px;
                      font-size: 14px;
                    }
                    }
                  }
                  button{
                    align-items: center;
                    width: 100%;
                    margin: 30px auto 0;
                    padding: 10px 0px;
                    background-color: #0152FF;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-family: Circular Std;
                    a{
                      font-size: 18px;
                      font-weight: 600;
                      line-height: 25.3px;
                      color: #fff;
                      text-align: center;
                      text-decoration: none;
                    }
                    opacity: 0.7;
                  } 
                }
              }
            }
            .BookCallSideBar{
              position: relative;
              background-image: url(../../Images/bookCall-Image.jpeg);
              background-position: calc(52%) center;
              background-repeat: no-repeat;
              background-size:cover;
              height: 100%;
              border-radius: 0px 20px 20px 0px;
              background-color:#0152FF;
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(127, 57, 242, 0.2); /* Transparent purple overlay */
                z-index: 1;
                border-radius: 0px 20px 20px 0px;
              }
              .registerSidebarLogo{
                position: relative;
                z-index: 2;
              display: flex;
              flex-direction: column;
              padding: 30px 10px 0 0 ;
              gap: 5px;
              justify-content: right;
              float: right;
             // border-radius: 0px 0px 20px 0px;
              img{
                background: #FAF8FD;
                color: #0152FF;
                border-radius: 6px;
                width: 48px;
                height:48px;
              }
              h1{
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                // margin: auto 0;
              }
            }
          }
  }
}
  }