@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes moving {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  *{
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    list-style: none;
  }
  .framework{
    .frameworkBody{
        padding:  0 0;
        margin: 0;
            align-items: center;
            text-align: center;
            @include mobile{
                margin-top: 15%;
        }

            .container{
                .learnMoreTittle{
                    padding: 0 20%;
                    @include tablet{
                        padding:0 2%;
                }

                    h1{
                        font-size: 2.3vw;
                        font-weight: 600;
                        transition: .3s;
                      color: #233d63; 
                      @include Destop{
                        font-size: 2.3rem;
                      }
                      @include tablet{
                      font-size: 1.6rem;
                }
                    }
                    p{
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 2vw;
                        color: #7b8491;
                        margin-bottom: 1.1vw;
                        transition: .3s;
                        @include Destop{
                            font-size: 15px;
                            line-height: 25px;
                          }
                    }
                }
                .learnMoreCategoryContainer{
                    margin: 0 0 10% 0;
                    padding: 0 3%;
                    @include tablet{
                        padding: 0;
                    }
                    .learnMoreCategoryContainerParent{
                        .learnMoreCategoryContainerFristChild{
                            float: right;
    
                             @include tablet{
                                float: left;
                    }
                        }
                    .learnMoreCategoryContainerChild{
                        text-align: left;
                        float: left;
                        padding:0 5% 0 0;
                        margin-left: 5%;
                        @include tablet{
                                margin-left: 0;
                                padding-right: 0;
                        }
    
                        .learnMoreCategoryContainerChildBody{
                            ul{
                                margin-top: 5%;
                                margin-left: -30px;
                                @include tablet{
                                    margin-left: -30px;
                                }
                                li{
                                    display: flex;
                                    color: #7b8491;
                                    font-size: 15px;
                                    transition: .3s;
                                    font-weight: 500;
                                    margin-bottom: -3px;
    
                                    i{
                                        margin-right: 10px;
                                        line-height: 28px;
                                    }
    
                                    p{
                                        line-height: 28px;
                                    }
                                }
                            }
                        }
    
                    }
                }
                }
                .learnMoreProductContainerChildTop,
                .learnMoreCategoryContainerChildTop{
                    @include tablet{
                        margin-top: 10%;
                    }
                    h1{
                        font-size: 2.3vw;
                     font-weight: 700;
                    transition: .3s;
                margin-bottom: 20px;
              color: #233d63;
              @include Destop{
                font-size: 2rem;
              }
              @include tablet{
                font-size: 1.6rem;
            }
                    }
                    p{
                        font-size: 1vw;
                        line-height: 2vw;
                        color: #7b8491;
                        transition: .3s;
                        font-weight: 500;
                        @include Destop{
                            font-size: 15px;
                            line-height: 25px;
                          }
                    }
                }
            .learnMoreProductContainer{
                margin:5% 0 10%;
                padding: 0 3%;
                @include tablet{
                    padding: 0;
            }
                .learnMoreProductContainerParent{
                    margin: 0;
                    .learnMoreProductContainerFristChild{
                        float: left;
                        height: 100%;
                        padding: 0;
                        img{
                            width: 100%;
                            height: 100%;
                            padding: 0;
                            margin: 0;
                        }
                    }
                .learnMoreProductContainerChild{
                    text-align: left;
                    float: right;
                    padding:20px 0 20px 5%;
                    margin-left: 10%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    @include tablet{
                        margin-left: 0;
                        padding-left: 0;
                }
                //     .learnMoreProductContainerChildTop{
                //         @include tablet{
                //             margin-top: 10%;
                //         }
                //         h1{
                //             font-size: 2.3vw;
                //          font-weight: 700;
                //         transition: .3s;
                //     margin-bottom: 20px;
                //   color: #233d63;
                //   @include Destop{
                //     font-size: 2rem;
                //   }
                //   @include tablet{
                //     font-size: 1.6rem;
                // }
                //         }
                //         p{
                //             font-size: 1vw;
                //             line-height: 2vw;
                //             color: #7b8491;
                //             transition: .3s;
                //             font-weight: 500;
                //             @include Destop{
                //                 font-size: 15px;
                //                 line-height: 25px;
                //               }
                //         }
                //     }

                    .learnMoreProductContainerChildBody{

                        ul{
                            margin-top: 3%;
                            margin-left: -30px;
                            li{
                                display: flex;
                                color: #7b8491;
                                font-size: 15px;
                                transition: .3s;
                                font-weight: 500;

                                i{
                                    margin-right: 10px;
                                    line-height: 2vw;
                                    @include Destop{
                                        line-height: 25px;
                                      }
                                }

                                p{
                                    line-height: 2vw;
                                    @include Destop{
                                        line-height: 25px;
                                      }
                                }
                            }
                        }
                    }
                }
            }
        }
            }
    }
  }