@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1240px) {
        @content;
    }
}
@keyframes moving {
    0% {
      transform: translateX(50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .framework{
    .frameworkBody{
        padding: 5% 0 0;
        margin: 0;
            align-items: center;
            text-align: center;
            @include mobile{
                margin-top: 15%;
        }

            .container{
                .learnMoreTittle{
                    padding: 0 20%;
                    @include tablet{
                        padding:0 2%;
                }

                    h1{
                        font-size: 2.3rem;
                        font-weight: 500;
                        transition: .3s;
                        font-family: 'Poppins', sans-serif;
                      color: #233d63; 
                      @include tablet{
                      font-size: 1.6rem;
                }
                    }
                    p{
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 28px;
                        color: #7b8491;
                        margin-bottom: 15px;
                        transition: .3s;
                    }
                }

            .learnMoreProductContainer{
                margin:7% 0;
                padding: 0 3%;
                @include tablet{
                    padding: 0;
            }
                .learnMoreProductContainerParent{
                    .learnMoreProductContainerFristChild{
                        float: left;
                    }
                .learnMoreProductContainerChild{
                    text-align: left;
                    float: right;
                    padding:0 0 0 5%;
                    margin-left: 10%;
                    @include tablet{
                        margin-left: 0;
                        padding-left: 0;
                }
                    .learnMoreProductContainerChildTop{
                        @include tablet{
                            margin-top: 10%;
                        }
                        h1{
                            font-size: 2rem;
                         font-weight: 700;
                        transition: .3s;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 10px;
                  color: #233d63;
                  @include tablet{
                    font-size: 1.6rem;
                }
                        }
                        p{
                            margin: 5% 0;
                            font-size: 15px;
                            line-height: 28px;
                            color: #7b8491;
                            margin-bottom: 15px;
                            transition: .3s;
                            font-weight: 500;
                        }
                    }

                    .learnMoreProductContainerChildBody{

                        ul{
                            margin-top: 5%;
                            margin-left: -30px;
                            li{
                                display: flex;
                                color: #7b8491;
                                font-size: 15px;
                                transition: .3s;
                                font-weight: 500;
                                margin-bottom: -3px;

                                i{
                                    margin-right: 10px;
                                    line-height: 28px;
                                }

                                p{
                                    line-height: 28px;
                                }
                            }
                        }
                    }

                    .learnMoreProductContainerChildButtom{
                        margin-top:15%;
                        @include tablet{
                            margin-bottom: 15%;
                    }
                        button{
                            border-radius: 2px;
                            background:linear-gradient( 120deg, rgb(0,0,184) 0%, rgb(115,0,233) 100%);
                            color: #fff;
                            cursor: pointer;
                            font-size: 13px;
                            font-weight: 500;
                            letter-spacing: 1px;
                            line-height: 1;
                            padding: 17px 35px;
                            text-align: center;
                            text-transform: uppercase;
                            transition: all 0.3s ease 0s;
                            vertical-align: middle;
                            white-space: nowrap;
                            border: 1px solid transparent;
                            position: relative;
                            transition: all 0.3s ease-in;
                            &:hover{
                                background: linear-gradient( 120deg, rgb(115,0,233) 0%, rgb(0,0,184) 100%);
                                text-decoration: none;
                                transition: all 0.3s ease-out;
                            }
                        }
                    }
                }
            }
        }

        .learnMoreCategoryContainer{
            margin: 0 0 10% 0;
            padding: 0 3%;
            @include tablet{
                padding: 0;
            }
            .learnMoreCategoryContainerParent{
                .learnMoreCategoryContainerFristChild{
                    float: right;

                     @include tablet{
                        float: left;
            }
                }
            .learnMoreCategoryContainerChild{
                text-align: left;
                float: left;
                padding:0 5% 0 0;
                margin-left: 5%;
                @include tablet{
                        margin-left: 0;
                        padding-right: 0;
                }
                .learnMoreCategoryContainerChildTop{
                    h1{
                    font-size: 2rem;
                     font-weight: 700;
                    transition: .3s;
                font-family: 'Poppins', sans-serif;
                margin-bottom: 10px;
              color: #233d63;
              @include tablet{
                font-size: 1.6rem;
            }
                    }
                    p{
                        margin: 5% 0;
                        font-size: 15px;
                        line-height: 28px;
                        color: #7b8491;
                        margin-bottom: 15px;
                        transition: .3s;
                        font-weight: 500;
                    }
                }

                .learnMoreCategoryContainerChildBody{
                    ul{
                        margin-top: 5%;
                        margin-left: -30px;
                        @include tablet{
                            margin-left: -30px;
                        }
                        li{
                            display: flex;
                            color: #7b8491;
                            font-size: 15px;
                            transition: .3s;
                            font-weight: 500;
                            margin-bottom: -3px;

                            i{
                                margin-right: 10px;
                                line-height: 28px;
                            }

                            p{
                                line-height: 28px;
                            }
                        }
                    }
                }

                .learnMoreCategoryContainerChildButtom{
                    margin-top:15%;

                    @include tablet{
                                    margin-bottom: 15%;
                                }
                    button{
                        border-radius: 2px;
                        background:linear-gradient( 120deg, rgb(0,0,184) 0%, rgb(115,0,233) 100%);
                        color: #fff;
                        cursor: pointer;
                        font-size: 13px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        line-height: 1;
                        padding: 17px 35px;
                        text-align: center;
                        text-transform: uppercase;
                        transition: all 0.3s ease 0s;
                        vertical-align: middle;
                        white-space: nowrap;
                        border: 1px solid transparent;
                        position: relative;
                        transition: all 0.3s ease-in;
                        &:hover{
                            background: linear-gradient( 120deg, rgb(115,0,233) 0%, rgb(0,0,184) 100%);
                            text-decoration: none;
                            transition: all 0.3s ease-out;

                        }
                    }
                }
            }
        }
        }
            }
    }
  }