@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1240px) {
        @content;
    }
}

*{
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

       .frameForm{
        margin: 10% 0;
        @include tablet{
          margin: 3% 0;
        }
        .container{
          margin: 0;
          padding: 0;
            .row{
              .basic-sign-inParent{
                @include tablet{
                    padding: 0;
                }
                display: flex;
                justify-content: center;
                margin:0;
            .basic-sign-in{
                width: 100%;
                padding: 50px 20px 30px;
                border: 20px solid #fff;
                box-shadow: 0px 50px 100px 0px rgba(12, 0, 46, 0.05);
                background: #f2f2f2;
                @include laptop{
                    padding: 50px;
                }
                @include tablet{
                    padding: 40px 20px;
                }
                @include mobile{
                width: 100%;
                    padding: 30px 20px;
                }
                h3{
                    font-size: 1.6rem;
                    font-weight: 700;
                    transition: .3s;
                    font-family: 'Poppins', sans-serif;
                  color: #1a2b6d; 
                  margin-bottom: 5%;
                  transition: .3s;
                  @include mobile{
                  font-size: 1.3rem;
            }
                }
                p{
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 28px;
                    color: #1a2b6d;
                    margin-bottom: 5%;
                    transition: .3s;
                    @include mobile{
                        font-size: 13px;
                  }
                }
                a{
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 28px;
                    color: #d41317;
                    margin-bottom: 5%;
                    transition: .3s;
                    @include mobile{
                        font-size: 13px;
                  }
                }
            }
                form{
                    margin-bottom: 30px;
                    .input-action{
                        .register-wrapper{
                            display: flex;
                            flex-wrap: wrap;
                            gap: 20px;
                            @include tablet{
                                flex-direction: column;
                            }
                                .leftwrapper{
                                    flex: 1;
                                    label{
                                        color: #1a2b6d;
                                        display: block;
                                        cursor: pointer;
                                        font-size: 14px;
                                        font-weight: 500;
                                        @include mobile{
                                            font-size: 12px;
                                            margin-bottom: 10px;
                                      }
            
                                        span{
                                            color: #d41317;
                                        }
                                    }
                                    select{
                                        height: 60px;
                                        border: 2px solid #d41317;
                                        color: #f2f2f2;
                                        padding: 0 80px 0 20px;
                                        margin-bottom: 20px;
                                        outline-style: none;
                                        position: relative;
                                    }
                                    input{
                                        height: 50px;
                                        border: 2px solid #eaedff;
                                        color: #6f7172;
                                        padding: 0 0 0 10px;
                                        margin-bottom: 10px;
                                        outline-style: none;
                                        @include mobile{
                                            font-size: 13px;
                                            height: 50px;
                                      }
                                        &::placeholder{
                                            font-weight: 500;
                                            font-size: 13px;
                                        }
                                      }
                                      .selectOption {
                                        position: relative;
                                        height: 50vh;
                                        .inputContainer{
                                            display: flex;
                                            justify-content: space-between;
                                            height:50px;
                                            border: 2px solid #eaedff;
                                            color: #6f7172;
                                            padding: 0 20px 0 0;
                                            margin-bottom: 10px;
                                            background: #fff;
                                            @include mobile{
                                                font-size: 13px;
                                                height: 50px;
                                              }
                                        .dropdown {
                                            background: none;
                                            border: none;
                                           width: 100%;
                                          outline-style: none;
                                        }
                                          svg {
                                            cursor: pointer;
                                            fill: #6f7172;
                                            transition: 0.3s;
                                            margin-top: 50px;
                                        }
                                        }
                                        .option{
                                            background: #fff;
                                            height: 30vh;
                                            border: 2px solid #eaedff;
                                            color: #6f7172;
                                            padding: 0 20px;
                                            outline-style: none;
                                            position: absolute;
                                            z-index: 10;
                                            padding: 5px 20px;
                                            overflow-y: auto;
                                            display: block;
                                            animation: movingIcon .4s;
                                            p{
                                              color: #222!important;
                                            }
                                          }
                                          .colseOption{
                                            display: none;
                                            transition: .3s;
                                          }
                                      }
                                      .nonselectOption {
                                        .inputContainer{
                                            display: flex;
                                            justify-content: space-between;
                                            height:50px;
                                            border: 2px solid #eaedff;
                                            color: #6f7172;
                                            padding: 0 20px 0 0;
                                            margin-bottom: 10px;
                                            background: #fff;
                                            @include mobile{
                                                font-size: 13px;
                                                height: 50px;
                                              }
                                        .dropdown {
                                            background: none;
                                            border: none;
                                           width: 100%;
                                          outline-style: none;
                                        }
                                          i {
                                            cursor: pointer;
                                            font-size: 16px;
                                            color: #6f7172;
                                            transition: 0.3s;
                                            margin-top: 20px;
                                        }
                                      
                                        }
                                      }
                                }
                                .rightwrapper{
                                    flex: 1;
                                    label{
                                        color: #1a2b6d;
                                        display: block;
                                        cursor: pointer;
                                        font-size: 14px;
                                        font-weight: 500;
                                        @include mobile{
                                            font-size: 12px;
                                            margin-bottom: 10px;
                                      }
            
                                        span{
                                            color: #d41317;
                                        }
                                    }
                                    input{
                                        height: 50px;
                                        border: 2px solid #eaedff;
                                        color: #6f7172;
                                        padding: 0 20px;
                                        margin-bottom: 10px;
                                        outline-style: none;
                                        @include mobile{
                                            font-size: 13px;
                                            height: 50px;
                                      }
                                        &::placeholder{
                                            font-weight: 500;
                                            font-size: 13px;
                                        }
                                      }
                                }
                            }
                        label{
                            color: #222;
                            display: block;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 500;
                            @include mobile{
                                font-size: 12px;
                                margin-bottom: 10px;
                          }

                            span{
                                color: #8231EB;
                            }
                        }
                        input{
                            width: 100%;
                            height: 50px;
                            border: 2px solid #eaedff;
                            color: #6f7172;
                            padding: 0 10px;
                            margin-bottom: 20px;
                            outline-style: none;
                            @include mobile{
                                font-size: 13px;
                                height: 50px;
                          }
                            &::placeholder{
                                font-weight: 500;
                            }
                          }
                          .react-tel-input {
                            width: 100%; /* Make it full-width */
                            margin-bottom: 5px; /* Add some space below */
                            height: 50px;
                            border: none;
                            color: #6f7172;
                            margin-bottom: 20px;
                            outline-style: none;
                            outline:none;
                          }
                          .react-tel-input .form-control {
                            border: 2px solid #eaedff;
                            outline-style: none;
                            font-size: 13px; 
                            &::placeholder{
                              padding-left: 50px;
                            }
                          }
                          
                          /* Style the flag dropdown */
                          .react-tel-input .flag-dropdown {
                            border: none; 
                            background-color: #fff; 
                            padding: 0 5px;
                            border-radius: 5px 0;
                            &:hover{
                                background: #fff;
                            }
                          }
                          .selectOption {
                            position: relative;
                            height: 50vh;
                            .inputContainer{
                                display: flex;
                                justify-content: space-between;
                                height:60px;
                                width: 100%;
                                border: 2px solid #eaedff;
                                color: #1a2b6d;
                                padding: 0 20px 0 0;
                                margin-bottom: 10px;
                                background: #fff;
                                @include mobile{
                                    font-size: 13px;
                                    height: 50px;
                                  }
                            .dropdown {
                                background: none;
                                border: none;
                               width: 100%;
                              outline-style: none;
                            }
                              svg {
                                cursor: pointer;
                                width: 10%;
                                fill: #1a2b6d;
                                transition: 0.3s;
                                margin-top: 10px;
                            }
                          
                            //   &::-webkit-scrollbar {
                            //     width: 8px;
                            //   }
                          
                            //   &::-webkit-scrollbar-thumb {
                            //     background-color: #888;
                            //     border-radius: 4px;
                            //   }
                          
                            //   &::-webkit-scrollbar-thumb:hover {
                            //     background-color: #555;
                            //   }
                            }
                            .option{
                                background: #fff;
                                width: 100%;
                                height: 30vh;
                                border: 2px solid #eaedff;
                                color: #6f7172;
                                padding: 0 20px;
                                outline-style: none;
                                position: absolute;
                                z-index: 10;
                                padding: 5px 20px;
                                overflow-y: auto;
                                display: block;
                                animation: movingIcon .4s;
                                p{
                                }
                              }
                              .colseOption{
                                display: none;
                                transition: .3s;
                              }
                          }
                          .nonselectOption {
                            .inputContainer{
                                display: flex;
                                justify-content: space-between;
                                height:60px;
                                width: 100%;
                                border: 2px solid #eaedff;
                                color: #1a2b6d;
                                padding: 0 20px 0 0;
                                margin-bottom: 10px;
                                background: #fff;
                                @include mobile{
                                    font-size: 13px;
                                    height: 50px;
                                  }
                            .dropdown {
                                background: none;
                                border: none;
                               width: 100%;
                              outline-style: none;
                            }
                              svg {
                                cursor: pointer;
                                width: 10%;
                                color: #6f7172;
                                transition: 0.3s;
                                margin-top: 10px;
                            }
                          
                            }
                          }
                          textarea{
                            height: 150px;
                            margin-bottom: 25px;
                            padding: 20px;
                            width: 100%;
                            border: 2px solid #eaedff;
                            color: #6f7172;
                            font-size: 14px;
                            transition: .3s;
                            outline-style: none;
                          }
                        }
                        button{
                            width: 100%;
                            background: #1a2b6d;
                            color: #fff;
                            border: 0;
                            padding: 12px 5px;
                            transition: .3s;
                            font-weight: 600;
                            text-transform: uppercase;
                            border-radius: 0 10px;  
                            margin-bottom: 20px;
                            @include mobile{
                                padding: 10px;
                                font-size: 13px;
                                border-radius: 0 10px;
                            }
                        }
                          .signUp{
                            font-weight: 500;
                            display: flex;
                            gap: 20px;
                            justify-content: center;
                            span{
                                margin-top: 3px;
                            }
                            @include mobile{
                                margin: 10% 0 0;
                            }
                            .login-text-btn{
                                border: 0;
                                background: none;
                                color: #1a2b6d;
                                outline: medium none;
                                @include mobile{
                                    margin: 5px 0 0;
                                    font-size: 14px;
                                }
                            }
                          }  
                    }
                }
            }
        }
       }
