@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes movingLeft {
    from{transform: translate(-10px);}
    to{transform: translate(0px);}
}
*{
    font-family: "Roboto" sans-serif;
}
@keyframes movingRight {
    from{transform: translate(10px);}
    to{transform: translate(0px);}
}
@keyframes movingLeft {
    from{transform: translate(-10px);}
    to{transform: translate(0px);}
}

.sidebar{
    width: 100%;
    margin: 0;
    .sidebarContainer{
        width: 250px;
        flex-shrink: 0;
        transition: width 0.3s;
        height: 100vh;
        overflow-y: auto;
        background: #0152FF;
        padding: 20px 10px 20px 0;
        -ms-overflow-style: none;
        scrollbar-width: none;
        animation: movingLeft 0.4s;
        &::-webkit-scrollbar {
            display: none;
          }
        .toggle{
            background: #fff;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            line-height: 50px;
             position: absolute;
             top: 5px;
             right: -5%;
            z-index: 999;
            text-align: center;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: .3s;
            svg{
               display: flex;
               align-items: center;
                justify-content: center;
                margin: auto;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                transition: .3s;
                fill: #0152FF;
        }
        .open{
            opacity: 1;
            visibility: visible;
        }
        .close{
            opacity: 0;
            visibility: hidden;
        }
    
    }  
        .sidebarParent{
            width: 100%;
            .sidebarLogo{
                display: flex;
                align-items: center;
                gap: 18px;
                padding: 20px 24px;
                .folsightLogoImg{
                    img{
                        width: 36px;
                        height: 36px;
                        border-radius: 6px 0px 0px 0px;                    
                        border-radius: 3px;
                    }
                }
                .folsightLogoTittle{
                    p{
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0.75px;
                        text-align: center;
                        margin: auto 0;
                        color: #fff;
                        
                    }
                }
            }
            .sidebarList{
                width: 100%;
                // height: 100%;
                // position: sticky;
                // top: 1rem;
                .listItem{
                    width: 100%;
                    .ulContainer{
                        padding: 0 0 0 10px;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        width: 100%;
                        position: relative;
                        a{
                            color: #fff;
                        }
                        .active{
                            transition: .3s;
                            background-color: #fff;
                            a{
                                color: #0152FF!important;
                                font-size: 16px;
                                padding-left: 5px;
                            }
                            svg{
                                fill: #0152FF;
                            }
                            .listIcon{
                                svg{
                                    fill: #0152FF!important;
                                }
                            }
                        }
                        .nonactive{
                            background-color: none;
                        }
                        .logout{
                            cursor: pointer;
                            border-radius: 10px;
                            padding: 12px 7px;
                            display: flex;
                            gap: 0;
                            a{
                                color: #DF3333;
                                font-size: 16px;
                                padding-left: 5px;
                            }
                            .react-icon{
                                    fill: #DF3333;
                            }
                        }
                        .li{
                            cursor: pointer;
                            border-radius: 10px;
                            padding: 12px 7px;
                            display: flex;
                            gap: 0;
                            &:hover{
                                transition: .3s;
                                background-color: #fff;
                                a{
                                    color: #0152FF;
                                    font-size: 16px;
                                    padding-left: 5px;
                                }
                                svg{
                                    fill: #0152FF;
                                }
                                .listIcon{
                                    svg{
                                        fill: #0152FF;
                                    }
                                }
                            }
                            .listIcon{
                                svg{
                                    transition: .3s;
                                    position: absolute;
                                    right: 0;
                                    fill: #fff;
                                 }
                            }
                            a{
                                text-decoration: none;
                                font-size: 14px;
                                transition: .3s;
                                color: #fff;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                letter-spacing: 1px;
                            }
                             .open{
                                display: block;
                             }
                             .close{
                                display: none;
                             }
                             .react-icon{
                               width: 50%;
                               margin:0 -25px;
                               color: #fff;
                             }
                        }
                        .itemDropdown{
                            display: block;
                            padding-left: 30px;
                            margin: 5% 0 0 0;
                            background: #0042CC;
                            padding: 20px;
                            border-radius: 8px;
                            ul{
                                cursor: pointer;
                                padding: 0;
                                display: flex;
                                flex-direction: column;
                                gap: 15px;
                                li{
                                    background-color: inherit;
                                    transition: .3s;
                                    a{
                                        text-decoration: none;
                                        color: #fff;
                                        &:hover{
                                            color: #fff!important;
                                        }
                                    }
                                }
                                .activePage{
                                    display: flex;
                                    gap: 20px;
                                    a{ 
                                    color: #fff;
                                    font-size: 16px;
                                }
                                .activeCircle{
                                    width: 10px;
                                    height: 10px;
                                    line-height: 10px;
                                    border-radius: 50%;
                                    align-items: center;
                                    margin: auto 0;
                                    background: #fff;
                                }
                                    }
                                .nonactivePage{
                                    a{ 
                                    color: #fff;
                                }
                                .activePage{
                                    display: none;
                                }
                                    }
                            }
                         }
                         .closeDropdown{
                            display: none;
                         }
                    }
                }
            }
        }
    }
    .closeSidebar{
        width: 60px;
        flex-shrink: 0;
        transition: width 0.3s;
        height: 100%;
        display: flex;
        flex: 1;
        background: #0152FF;
        padding: 20px 10px 20px 0;
        animation: movingRight 0.4s;
        .toggle{
            background: #fff;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            line-height: 50px;
            position: absolute;
            left: 10px;
            z-index: 999;
            text-align: center;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: .3s;
            .icons{
               display: flex;
               align-items: center;
                justify-content: center;
                margin: auto;
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                transition: .3s;
                .svg{
                    color: #0152FF;
                    font-size: 30px;
                }
        }
        .open{
            opacity: 1;
            visibility: visible;
        }
        .close{
            opacity: 0;
            visibility: hidden;
        }
    }  
        .sidebarParent{
            width: 100%;
            .sidebarLogo{
                margin-top: 40px;
                display: flex;
                align-items: center;
                gap: 18px;
                padding: 20px 10px;
                &:hover{
                    .folsightLogoTittle{
                    display: block;
                    color: #192434;
                }
            }
                .folsightLogoImg{
                    img{
                        width: 36px;
                        height: 36px;
                        border-radius: 6px 0px 0px 0px;                    
                        border-radius: 3px;
                    }
                }
                .folsightLogoTittle{
                    animation: movingLeft 0.4s;
                    display: none;
                    p{
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0.75px;
                        text-align: center;
                        margin: auto 0;
                        color: 192434;
                        
                    }
                }
            }
            .sidebarList{
                .listItem{
                    .ulContainer{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        .li,.logout{
                            cursor: pointer;
                            border-radius: 10px;
                            padding: 12px;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            gap: 20px;
                            &:hover{
                                transition: .3s;
                                a{ 
                                    animation: movingLeft 0.4s;
                                    color: #0152FF;
                                    background: #fff;
                                    padding:5px 20px;
                                    border-radius: 0px 20px 20px 0px;
                                    font-size: 14px;
                                    font-weight: 400;
                                    display: block;
                                    position: absolute;
                                    left: 10%;
                                }
                                svg{
                                    fill: #fff!important;
                                }
                            }
                            .listIcon{
                                display: none;
                            }
                            a{
                                text-decoration: none;
                                font-size: 14px;
                                transition: .3s;
                                color: #0152FF;
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                letter-spacing: 1px;
                                display: none;
                            }
                             .open{
                                display: block;
                             }
                             .close{
                                display: none;
                             }
                             .react-icon{
                               width: 100%;
                               margin:0 ;
                               color: #fff;
                             }
                        }
                        .logout{
                            a{
                                color: #fff;
                            }
                            .react-icon{
                                color: #fff;
                            }
                        }
                        .itemDropdown{
                            display: none;
                            // display: flex;
                            // padding-left: 20px;
                            // margin: 0;
                            // margin-left: 30px;
                            // width: 200px;
                            // overflow: hidden;
                            // padding: 20px;
                            // border-radius: 20px;
                           // background: #FBE4FF;
                           
                            // ul{
                            //     display: flex;
                            //     flex-direction: column;
                            //     gap: 10px;
                            //     li{
                            //         transition: .3s;
                            //         a{
                            //             text-decoration: none;
                            //             display: flex;
                            //             color: #000;
                            //             &:hover{
                            //                 color: #7F39F2;
                            //             }
                            //         }
                            //     }
                            // }
                         }
                         .closeDropdown{
                            display: none;
                         }
                    }
                }
            }
        }
    }
}