@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin Responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }

@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes dropdown {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  *{
    margin:0;
}
  .activ8{
    flex: 1;
     width:100%;
     margin: 0;
    position: relative;
    overflow-x: hidden;
// white-space: nowrape;
    padding:0 10px;
    .navMenuContainer{
        padding: 20px 0 3%;
        background: #fff;
        width: 100%;
        margin: 0;
        .navMenuParent{
            .navMenuChild{
                .topWrapper{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .leftTopWrapper{
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        h1{
                            font-family: "Roboto" sans-serif;
                            font-weight: 700;
                            font-size: 32px;
                            line-height: 41.6px;
                            letter-spacing: 0%;
                            color: #0152FF;
                        }
                        .leftwrapper-contet{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                        p{
                            font-family: "Poppins" sans-serif;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 24px;
                            letter-spacing: 0.2px;                        
                            color: #737373;
                            margin: auto 0;
                        }
                            span{
                                margin: auto 0;
                                svg{
                                    fill: #737373;
                                }
                            }    
                            a{
                                cursor: pointer;
                                font-family: "Poppins" sans-serif;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 24px;
                                letter-spacing: 0.2px;
                                text-align: center;                                
                                margin: auto 0;
                                color: #252B42;
                                text-decoration: none;                   
                        }
                    }
                    }
                    .rightTopWrapper{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        .menuicon{
                            display: flex;
                             gap: 10px;
                            .notification{
                                position: relative;
                                display: flex;
                                svg{
                                    width: 27px;
                                    height: 25px;
                                    border-width: 1.5px;
                            }
                                .notificationtext{
                                    position: absolute;
                                    right: 0;
                                    height: 15px;
                                    width: 15px;
                                    line-height: 15px;
                                    text-align: center;
                                    border-radius: 50%;
                                    color: #fff;
                                    background: #d41317;
                                    font-size: 10px;
                                }
                            }
                        }
                        .menuProfile{
                            display: flex;
                            gap: 20px;
                            align-items: center;
                            .profileImg{
                                align-items: center;
                                img{ 
                                    width: 40px;
                                    border-radius: 50%;
                                }
                            }
                            .image-upload{
                                display: flex;
                                img{
                                    width: 100px;
                                    height: 82px;
                                    border-width: 1px;
                                    border-radius: 4px;
                                    border: 1px solid #D4E5F7;
                                                                        
                                }
                            }
                        }
                    }
                }
                .buttomWrapper{
                  background: rgba(242, 247, 253, 1);
                  padding: 20px;
                  border-radius: 6px;
                  margin: 10px 0 0;
                  .title-content{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    p{
                        font-family: "Poppins" sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: 0px;     
                        color: #828282;     
                        margin: 0;              
                    }
                  }
                }
            }
        }
    }
    .activ8-container{
        width: 100%;
        margin: 0;
        padding: 0  20px;
        margin: -30px 0 0;
        .activ8-content{
            position: relative;
            width: 100%;
            height: 100%;
            max-width: 100%;
            height: 100%;
            .activ8-inputfield{
                .activ8-wrapper{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    .activ8-rightwrapper{
                        min-height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 10px;
                        .search-input{
                            width: 740px;
                            height: 48px;
                            border: 1px solid #B9B7B7;
                            border-radius: 6px;
                            padding: 12px;
                            display: flex;
                            justify-content: center;
                            gap: 8px;
                            input{
                                border: none;
                                width: 100%;
                                outline-style: none;
                                color: #1B212C;
                                font-family: "Roboto" sans-serif;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: 0.25px;
                                &::placeholder{
                                    color: #8EA396;
                                }
                            }
                        }
                        .select-input{
                            .select-input-field{
                                cursor: pointer;
                                align-items: center;
                                padding: 0 12px;
                                width: 188px;
                                height: 48px;
                                display: flex;
                                justify-content: space-between;
                                gap: 8px;
                                border: 1px solid #B9B7B7;
                                border-radius: 6px;
                                p{
                                    margin: auto 0;
                                    color: #333333;
                                    font-family: "Roboto" sans-serif;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 19.36px;
                                    letter-spacing: 0%;                                    
                                }
                            }
                            .select-dropdown{
                                position: absolute;
                                margin-top: 10px;
                                 width: 188px;
                                 height: 32vh;
                                 overflow-y: auto;
                                 background: #fff;
                                 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                                 border-radius: 8px;
                                 scrollbar-width: none;
                                 animation: dropdown .35s ease-in-out;
                                ul{
                                    padding: 20px 0 5px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                    overflow: hidden;
                                    li{
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 0 10px;
                                        align-items: center;
                                        &:hover{
                                            background: #F1F1F1;
                                            span{
                                                color: #000;
                                                font-weight: 500;
                                            }
                                        }
                                        span{
                                            font-family: "Poppins" sans-serif;
                                            font-weight: 400;
                                            font-size: 13px;
                                            line-height: 18px;
                                            letter-spacing: 0px;
                                            font-weight: 400;
                                            line-height: 18px;
                                            letter-spacing: 0px;   
                                            color: #263238;                                                                                     
                                        }
                                        .check{
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .activ8-template{
                margin: 2% 0 6%;
                .title-template{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left-title,
                .right-title{
                    h4{
                        font-family: "Inter";
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 28px;
                        letter-spacing: 0%;                        
                        color: #1B212C;                        
                    }
                    p{
                        font-family: "Inter";
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 28px;
                        letter-spacing: 0;  
                        color: #1B212C;                       
                    }
                }
                }
                .grid-template{
                    margin: 2% 0;
                    .grid-template-content{
                        display: grid;
                        grid-template-columns:repeat(4,1fr);
                        gap: 3rem;
                        padding: 0 10px;
                        .grid-template-box{
                            cursor: pointer;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            background: #fff;
                            height: 200px ;
                            gap: 8px;
                            border-radius: 8px;
                            padding: 24px 16px; 
                            box-shadow: 0px 16px 16px 0px #32324714;
                            align-items: flex-start;
                            .top-box{
                                h5{
                                    font-family: "Inter";
                                    font-weight: 600;
                                    font-size: 20px;
                                    line-height: 20px;
                                    letter-spacing: 0px; 
                                    color: #1B212C;                                    
                                }
                                p{
                                    font-family: "Poppins" sans-serif;
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 150%;
                                    letter-spacing: 0%;
                                    color: #79747E;
                                    
                                }
                            }
                            .bottom-box{
                                background: linear-gradient(0deg, #D4E5F7, #D4E5F7);
                                padding:5px 10px;
                                border-radius: 8px;
                                display: flex;
                                gap: 10px;
                                &.pending{

                                 }
                                  &.active{
                                 background: #0DB22614;
                                 }
                                  &.deactivated{
                                 background: #E21D1214;
                                 }
                                .box-circle{
                                    background: #0152FF;
                                    border-radius: 50%;
                                    width: 10px;
                                    height: 10px;
                                 &.pending{

                                 }
                                  &.active{
                                background-color: #0DB226;
                                 }
                                  &.deactivated{
                                 background-color: #E21D12;
                                 }
                                }
                                span{
                                    font-family: "Inter";
                                    font-weight: 500;
                                    font-size: 12px;
                                    line-height: 100%;
                                    letter-spacing: 0%; 
                                    color: #0152FF;                                   
                                 }
                                 .status{

                                 &.pending{

                                 }
                                  &.active{
                                // background: #0DB22614;
                                 color: #0DB226;
                                 }
                                  &.deactivated{
                                // background: #E21D1214;
                                 color: #E21D12;
                                 }
                                 }
                                 }
                                }
                            }
                }
                    }
                }
            }
        }