@mixin mobile {
    @media screen and (max-width:580px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width:980px) {
        @content;
    }
}
@mixin Responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }

@mixin laptop {
    @media screen and (max-width:1190px) {
        @content;
    }
}
@mixin Destop {
    @media screen and (max-width:1440px) {
        @content;
    }
}
@mixin FullHd {
    @media screen and (max-width:2784px) {
        @content;
    }
}
@keyframes dropdown {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  *{
    margin:0;
}
  .framework{
    flex: 1;
     width:100%;
     height: 100%;
     margin: 0;
    position: relative;
    overflow-x: hidden;
 white-space: nowrape;
    padding:0 10px;
    .navMenuContainer{
        padding: 20px 0 3%;
        background: #fff;
        width: 100%;
        margin: 0;
        .navMenuParent{
            .navMenuChild{
                .topWrapper{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .leftTopWrapper{
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        h1{
                            font-family: "Roboto" sans-serif;
                            font-weight: 700;
                            font-size: 2rem;
                            line-height: 41.6px;
                            letter-spacing: 0%;
                            color: #0152FF;
                            @include Destop{
                                font-size: 32px;
                            }
                        }
                        .leftwrapper-contet{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                        p{
                            font-family: "Poppins" sans-serif;
                            font-weight: 400;
                            font-size: 1vw;
                            line-height: 24px;
                            letter-spacing: 0.2px;                     
                            color: #737373;
                            margin: auto 0;
                            @include Destop{
                                font-size: 14px;
                            }
                        }
                            span{
                                margin: auto 0;
                                svg{
                                    fill: #737373;
                                }
                            }    
                            a{
                                font-family: "Poppins" sans-serif;
                                font-weight: 500;
                                font-size: 1vw;
                                line-height: 24px;
                                letter-spacing: 0.2px;
                                text-align: center;                                
                                margin: auto 0;
                                color: #252B42;
                                text-decoration: none;   
                                @include Destop{
                                    font-size: 14px;
                                }                
                        }
                    }
                    }
                    .rightTopWrapper{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        .menuicon{
                            display: flex;
                             gap: 10px;
                            .notification{
                                position: relative;
                                display: flex;
                                svg{
                                    width: 2vw;
                                    height: 1.9vw;
                                    border-width: 1.5px;
                                    @include Destop{
                                        width: 27px;
                                        height: 27px;
                                    }
                            }
                                .notificationtext{
                                    position: absolute;
                                    right: 0;
                                    height: 1vw;
                                    width: 1vw;
                                    line-height: 15px;
                                    text-align: center;
                                    border-radius: 50%;
                                    color: #fff;
                                    background: #d41317;
                                    font-size: 0.7vw;
                                    @include Destop{
                                        width: 15px;
                                        height:15px;
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                        .menuProfile{
                            display: flex;
                            gap: 20px;
                            align-items: center;
                            .profileImg{
                                align-items: center;
                                img{ 
                                    width: 2.5vw;
                                    border-radius: 50%;
                                    @include Destop{
                                        width:40px;
                                    }
                                }
                            }
                            .image-upload{
                                display: flex;
                                img{
                                    width: 6.3vw;
                                    height: 5.1vw;
                                    border-width: 1px;
                                    border-radius: 4px;
                                    border: 1px solid #D4E5F7;
                                    @include Destop{
                                        width:100px;
                                        height: 82px;
                                    }
                                                                        
                                }
                            }
                        }
                    }
                }
                .buttomWrapper{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  flex-wrap: wrap;
                  background: rgba(242, 247, 253, 1);
                  padding: 10px ;
                  border-radius: 6px;
                  margin: 10px 0 0;
                  .leftButtom{
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                        padding: 0;
                        margin: auto 0;
                        cursor: pointer;

                        .activeview{
                            transition: .3s;
                            background: rgba(221, 234, 249, 1);
                            a{
                                color: #0152FF;
                            }
                            svg{
                                fill: #0152FF;
                            }
                            .fill{
                                fill: none;
                                path{
                                    stroke: #0152FF;
                                }
                            }
                        }
                        li{
                            padding:5px 10px;
                            display: flex;
                            justify-content: center;
                            gap: 5px;
                            svg{
                                fill: #737373;
                            }
                            .fill{
                                fill: none;
                            }
                          a{
                            align-items: center;
                            font-family: "Poppins" sans-serif;
                            font-weight: 400;
                            font-size: 1vw;
                            line-height: 18px;
                            letter-spacing: 0px;                            
                            color: #828282;
                            @include Destop{
                                font-size: 14px;
                            }
                        }
                        &:hover{
                            transition: .3s;
                            background: rgba(221, 234, 249, 1);
                            a{
                                color: #0152FF;
                            }
                            svg{
                                fill: #0152FF;
                            }
                            .fill{
                                fill: none;
                                path{
                                    stroke: #0152FF;
                                }
                            }
                            }
                    }
                  }
                  }
                  .rightButtom{
                    background: inherit;
                    border: 1px solid #0152FF;
                    padding:5px 10px;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    gap: 5px;
                    align-items: center;
                    cursor: pointer;
                    a{
                        align-items: center;
                        text-decoration: none;
                      color: #0152FF;
                      font-size: 1vw;
                      font-family: "Poppins" sans-serif;
                      font-weight: 550;
                      letter-spacing: 1px;
                      line-height: 18px;
                      @include Destop{
                        font-size: 14px;
                    }
                    }
                  }
                }
            }
        }
    }
    .framework-container{
        width: 100%;
        margin: 0;
        padding: 0  20px;
        margin: -30px 0 0;
        .list-content{
            position: relative;
            width: 100%;
            height: 100%;
            max-width: 100%;
         //   position: relative;
            .framework-inputfield{
               // padding-right: 20px;
                .inputfield-wrapper{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between; 
                 //   align-items: center;
                    .inputfield-leftwrapper{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        height: 3vw;
                        align-items: center;
                        @include Destop{
                            height: 48px;
                        }
                        h4{
                            font-family: 'poppins' sans-serif;
                            font-weight: 500;
                            font-size: 20px;
                            letter-spacing: 0%;   
                            margin: auto 0;                
                        }
                    }
                    .inputfield-rightwrapper{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 10px;
                     //  position: relative;
                     //   align-items: center;
                        .search-input{
                            width: 300px;
                            height: 3vw;
                            border: 1px solid #B9B7B7;
                            border-radius: 6px;
                            padding: 12px;
                            display: flex;
                            justify-content: center;
                            gap: 8px;
                            @include Destop{
                                height: 48px;
                            }
                            input{
                                border: none;
                                width: 100%;
                                outline-style: none;
                                color: #1B212C;
                                font-family: "Roboto" sans-serif;
                                font-weight: 400;
                                font-size: 1vw;
                                line-height: 20px;
                                letter-spacing: 0.25px;
                                @include Destop{
                                font-size: 14px;
                            }
                                &::placeholder{
                                    color: #8EA396;
                                }
                            }
                            .input-icon{

                            }
                        }
                        .select-input{
                            .select-input-field{
                                z-index: 999;
                                cursor: pointer;
                                align-items: center;
                                padding: 0 12px;
                                width: 188px;
                                height: 3vw;
                                display: flex;
                                justify-content: space-between;
                                gap: 8px;
                                border: 1px solid #B9B7B7;
                                border-radius: 6px;
                                @include Destop{
                                height: 48px;
                            }
                                p{
                                    margin: auto 0;
                                    color: #333333;
                                    font-family: "Roboto" sans-serif;
                                    font-weight: 500;
                                    font-size: 1.1vw;
                                    
                                    line-height: 19.36px;
                                    letter-spacing: 0%;      
                                    @include Destop{
                                    font-size: 16px;
                                     }                              
                                }
                            }
                            .select-dropdown{
                                position: absolute;
                                z-index: 1000!important;
                                margin-top: 10px;
                                 width: 188px;
                                 height: 32vh;
                                 overflow-y: auto;
                                 background: #fff;
                                 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                                 border-radius: 8px;
                                 scrollbar-width: none;
                                 animation: dropdown .35s ease-in-out;
                                ul{
                                    padding: 20px 0 5px;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                    overflow: hidden;
                                    li{
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 0 10px;
                                        align-items: center;
                                        &:hover{
                                            background: #F1F1F1;
                                            span{
                                                color: #000;
                                                font-weight: 500;
                                            }
                                        }
                                        span{
                                            font-family: "Poppins" sans-serif;
                                            font-weight: 400;
                                            font-size: 0.9vw;
                                            line-height: 18px;
                                            letter-spacing: 0px;
                                            font-weight: 400;
                                            line-height: 18px;
                                            letter-spacing: 0px;   
                                            color: #263238;    
                                              @include Destop{
                                                 font-size: 13px;
                                     }                                                                                 
                                        }
                                        .check{

                                        }
                                    }
                                }
                            }
                        }
                        .import-input{
                            cursor: pointer;
                            width: 124px;
                            height: 3vw;
                            align-items: center;
                            padding: 0 12px;
                            display: flex;
                            justify-content: space-between;
                            gap: 8px;
                            border-radius: 6px;
                            border: 1px solid #B9B7B7;
                              @include Destop{
                               height: 48px;
                                 }
                            p{
                                margin: auto 0;
                                font-family: "Roboto" sans-serif;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: 0%;   
                                color: #1B212C;                             
                            }
                            .input-icon{
                            }
                        }
                        .view-input{
                            .select-input-field{
                                border: 1px solid #0152FF;
                                p{
                                    color: #0152FF;
                                
                                }
                            }
                            .select-dropdown{
                                height: 15vh;
                            }
                        }
                    }
                }
            }
.framework-table-content {
    margin:1% 0 3%;
    width: 100%;
.framework-table {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.8fr 3fr;
    align-items: stretch;
    .left-table{
        .table-header {
            .left-tableheader{
                width: 100%;
                ul{
              display: grid;
             grid-template-columns: 0.5fr 3fr 3fr ;
            }
            }
        }
        .table-row{
      .tableRow-left{
        .ul{
        display: grid; 
        gap: 10px;
        grid-template-columns: 0.5fr 3fr 3fr ;
        .table-icon{
            justify-content: center;
            padding-left: 0;
        }
        p{
            padding-left: 20px;
            display: flex;
            //justify-content: center;
            align-items: center;
        }
    }
      }
    }
    }
    .right-table{
     min-width: 100%;
        overflow-x: auto;
        scrollbar-width: none;
        .table-header{
          //  color: #0152FF;
         min-width: 200%;
            .right-tableheader{
                width: 100%;
                    ul{
                    overflow-x: auto;
                  display: grid;
                  grid-template-columns:5fr 2fr 2.5fr 2fr 2.5fr 2fr 1fr 1fr ;
                }
            }
        }
        .table-row{
          min-width: 200%;
      .tableRow-right{
        .ul{
            display: grid; 
            gap: 10px;
            grid-template-columns:5fr 2fr 2.5fr 2fr 2.5fr 2fr 1fr 1fr ;
            p{
                display: flex;
                flex-direction: column;
               // justify-content: center;
               // align-items: center;
                margin: 0;
                padding: 10px 0;
            }
            .table-icons{
                align-items: center;
                justify-content: center;
            }
        }
    }
}
    }

    .left-table, 
    .right-table{
        display: flex;
        flex-direction: column; 
        height: 100%;
        flex-grow: 1;
        align-items: stretch;
    .table-header{
     padding: 15px  10px;
     width: 100%;
    position: relative;
    z-index: 99;
    background: #d4e5f7;
    .left-tableheader,
    .right-tableheader{
                ul{
                    padding: 0;
                 gap: 10px;
                 margin: 0;
             li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #fff;
                height: 2.8vw;
                padding: 0 10px ;
                  @include Destop{
                  height: 40px;
                  }
                span {
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    font-size: 1vw;
                    line-height: 20px;
                    letter-spacing: 0px;
                      @include Destop{
                      font-size: 16px;
                      }
                }

                svg {
                    align-items: center;
                }
            }
            }
        }
    }
    .table-body{
        flex-grow: 1;
    .table-row{
    padding: 0 10px;
        height: 10%;
        border-right: 1px solid #D0D0D4;
         border-left: 1px solid #D0D0D4;
        background: #ffffff;
    flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 10px; 
    .tableRow-left,
    .tableRow-right{
        flex-grow: 1; 
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    .ul{
    cursor: pointer;
    padding: 0;
    gap: 10px;
   // border-bottom: 1px solid #D0D0D4;
    height: 100%;
    align-items: center;
    position: relative;
    &:hover{
    &::after{
     width: 30%;
    }
    }
    &::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #D0D0D4;
    transition: .6s ease-in-out;
    }
    p {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px 10px;
        background: #fff;
        margin: 0;
        color: #f4f4f4;
        .double-tabeText{
            font-weight: 500;
            color: #263238;
            font-family: "Inter", sans-serif;
        }
        span {  
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 1vw;
            line-height: 20px;
            letter-spacing: 0px;
            color: #263238;
            @include Destop{
            font-size: 15px;
            }
        }
    }
}
  }
}
}
    }
}
 }
.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #F6F6F6;
    padding: 5px 10px;
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 99;
    border: 1px solid #D0D0D4;
    padding-left: 20px;
  .double-paginateIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    &:disabled {
        background-color: inherit;
        cursor: not-allowed;
      }
    svg{
        margin-right: -15px;
    }
  }
  .double-paginateIcon-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    &:disabled {
        background-color: inherit;
        cursor: not-allowed;
      }
      &:hover:not(:disabled) {
        background-color: inherit;
        border-color: none;
      }
    svg{
        margin-left: -15px;
    }
  }
  button {
    border: none;
    height: 2.8vw;
    width: 2.8vw;
    line-height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
    @include Destop{
    height: 40px;
    width: 40px;
    }
    svg{
        fill: #8EA396;
    }
  &:disabled {
    background-color: #fff;
    cursor: allowed;
  }
 &:hover:not(:disabled) {
    transition: .35s;
    background-color: #f7f6f6;
    border-color: none;
  }

}
p{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    span{
        padding: 5px 10px;
        font-weight: 400;
        color: #1B212C;
    }
    .span{
        font-weight: 400;
        background: inherit;
        border: 1px solid #fff;
        border-radius: 5px;
    }
  }
  span {
    font-size: 1vw;
    font-weight: 500;
    font-family: "poppins" sans-serif;
    letter-spacing: 1px;
    color: #1B212C;
     @include Destop{
      font-size: 15px;
    }
  }
}
        }
   
    .grid-content{
        .framework-inputfield{
            .inputfield-wrapper{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between; 
             //   align-items: center;
                .inputfield-leftwrapper{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    height: 3vw;
                    align-items: center;
                      @include Destop{
                      height: 48px;
                      }
                    h4{
                        font-family: 'poppins' sans-serif;
                        font-weight: 500;
                        font-size: 1.4vw;
                        letter-spacing: 0%;   
                        margin: auto 0; 
                          @include Destop{
                          font-size: 20px;
                          }               
                    }
                }
                .inputfield-rightwrapper{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 10px;
                    .search-input{
                        width: 750px;
                        height: 3vh;
                        border: 1px solid #B9B7B7;
                        border-radius: 6px;
                        padding: 12px;
                        display: flex;
                        justify-content: center;
                        gap: 8px;
                          @include Destop{
                          height: 48px;
                          }      
                        input{
                            border: none;
                            width: 100%;
                            outline-style: none;
                            color: #1B212C;
                            font-family: "Roboto" sans-serif;
                            font-weight: 400;
                            font-size: 1vw;
                            line-height: 20px;
                            letter-spacing: 0.25px;
                              @include Destop{
                             font-size: 14px;
                             }      
                            &::placeholder{
                                color: #8EA396;
                            }
                        }
                        .input-icon{

                        }
                    }
                    .select-input{
                        .select-input-field{
                            z-index: 999;
                            cursor: pointer;
                            align-items: center;
                            padding: 0 12px;
                            width: 188px;
                            height: 3vw;
                            display: flex;
                            justify-content: space-between;
                            gap: 8px;
                            border: 1px solid #B9B7B7;
                            border-radius: 6px;
                              @include Destop{
                              height: 48px;
                          }      
                            p{
                                margin: auto 0;
                                color: #333333;
                                font-family: "Roboto" sans-serif;
                                font-weight: 500;
                                font-size: 1vw;
                                line-height: 19.36px;
                                letter-spacing: 0%;     
                                  @include Destop{
                          font-size: 16px;
                          }                                     
                            }
                        }
                        .select-dropdown{
                            position: absolute;
                            z-index: 1000!important;
                            margin-top: 10px;
                             width: 188px;
                             height: 32vh;
                             overflow-y: auto;
                             background: #fff;
                             box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                             border-radius: 8px;
                             scrollbar-width: none;
                             animation: dropdown .35s ease-in-out;
                            ul{
                                padding: 20px 0 5px;
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                overflow: hidden;
                                li{
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 0 10px;
                                    align-items: center;
                                    &:hover{
                                        background: #F1F1F1;
                                        span{
                                            color: #000;
                                            font-weight: 500;
                                        }
                                    }
                                    span{
                                        font-family: "Poppins" sans-serif;
                                        font-weight: 400;
                                        font-size: 0.8vw;
                                        line-height: 18px;
                                        letter-spacing: 0px;
                                        font-weight: 400;
                                        line-height: 18px;
                                        letter-spacing: 0px;   
                                        color: #263238;  
                                          @include Destop{
                                          font-size: 13px;
                                           }                                                                                         
                                    }
                                    .check{

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .gridtable-data{
            width: 100%;
            position: relative;
            .gridtable-content{
                width: 100%;
                padding: 20px 0px;
                .gridtable-body{
                display: grid;
                grid-template-columns:1fr 1fr 1fr;
                gap: 2rem;
                align-items: center;
                    .table-item{
                        height: 100%;
                        padding: 20px 10px;
                        background: #fff;
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
                        display: flex;
                        justify-content: space-between;
                        border-radius: 0 10px 0 10px;
                        .tableItem-left,
                         .tableItem-right{
                            display: flex;
                            flex-direction: column;
                            gap: 50px;
                        }
                        .tableItem-left{
                            .grid-title{
                                font-family: "Inter" sans-serif;
                                font-weight: 700;
                                font-size: 1.1vw;
                                line-height: 20px;
                                letter-spacing: 0px; 
                                color: #1B212C;  
                                  @include Destop{
                                   font-size: 16px;
                          }                                   
                            }
                            .requiredContainer{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 3px;
                            }
                            .grid-required{
                                border: 1px solid #737373;
                                border-right: none;
                                padding: 5px ;
                                font-family: "Poppins" sans-serif;
                                font-weight: 400;
                                font-size: 1vw;
                                line-height: 18px;
                                letter-spacing: 0px;
                                  @include Destop{
                                  font-size: 14px;
                          }      
                            }
                            .grid-NoOFRequired{
                                display: flex;
                                border-radius: 0 5px 5px  0;
                                height: 100%;
                                align-items: center;
                                font-family: "Poppins" sans-serif;
                                font-weight: 500;
                                font-size: 1vw;
                                line-height: 18px;
                                letter-spacing: 0px;
                                text-align: center;    
                                color: #0152FF; 
                                background: #D4E5F7CC; 
                                padding: 5px;      
                                  @include Destop{
                                  font-size: 14px;
                          }                          
                            }
                        }
                        .tableItem-right{
                            .grid-id{
                                font-family: "Poppins" sans-serif;
                                font-weight: 600;
                                font-size: 0.8vw;
                                line-height: 18px;
                                letter-spacing: 0%; 
                                color: #79747E;   
                                  @include Destop{
                                   font-size: 12px;
                          }                                  
                            }
                            .grid-status{
                                padding: 5px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #03C9621A;
                                color: #0DB226;
                                font-family: "Inter" sans-serif;
                                font-weight: 500;
                                font-size: 1vw;
                                line-height: 14.52px;
                                letter-spacing: 0%;     
                                  @include Destop{
                                  font-size: 14px;
                          }                                 
                                span{
                                }
                            }
                        }
                    }
            }
        }
        .pagination {
            margin: 0 0 5% auto;
            width:50%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background: #f5f5f5;
            padding: 5px 10px;
            position: sticky;
            left: 0;
            bottom: 0;
            z-index: 99;
            border-radius: 10px;
          .double-paginateIcon{
            display: flex;
            justify-content: center;
            align-items: center;
            background: inherit;
            &:disabled {
                background-color: inherit;
                cursor: not-allowed;
              }
            svg{
                margin-right: -15px;
            }
          }
          .double-paginateIcon-right{
            display: flex;
            justify-content: center;
            align-items: center;
            background: inherit;
            &:disabled {
                background-color: inherit;
                cursor: not-allowed;
              }
              &:hover:not(:disabled) {
                background-color: inherit;
                border-color: none;
              }
            svg{
                margin-left: -15px;
            }
          }
          button {
            padding: 5px 0px;
            border: none;
            background-color: #D4E5F7;
            border-radius: 5px;
            cursor: pointer;
            margin: 0;
            svg{
                fill: #8EA396;
            }
          &:disabled {
            background-color: #fff;
            cursor: allowed;
          }
         &:hover:not(:disabled) {
            transition: .35s;
            background-color: #f7f6f6;
            border-color: none;
          }
        
        }
        p{
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            margin: auto 0;
            span{
                padding: 5px 10px;
                font-weight: 400;
                color: #1B212C;
            }
            .span{
                font-weight: 400;
                background: inherit;
                border: 1px solid #fff;
                border-radius: 5px;
            }
          }
          span {
            font-size: 15px;
            font-weight: 600;
            font-family: "poppins" sans-serif;
            letter-spacing: 1px;
            color: #1B212C;
          }
        }
        }
    }
}

}