@mixin mobile {
  @media screen and (max-width:580px) {
      @content;
  }
}
@mixin tablet {
  @media screen and (max-width:980px) {
      @content;
  }
}
@mixin laptop {
  @media screen and (max-width:1190px) {
      @content;
  }
}
@mixin Destop {
  @media screen and (max-width:1240px) {
      @content;
  }
}
@keyframes moving {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes movingLeft {
  from  {
    transform: translateY(-100%);
   }
  to  {
    transform: translateY(0px);
  }
}

.coverPage{
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
    background-image: url(../../../Images/ImageBlog/03.jpg);
    display: flex;
    background-size: cover;
 background-attachment: fixed;
    padding:  0;
    margin-top: 6%;
    position: relative;

    @include tablet{
        margin: 10% 0 0;
  }
  @include mobile{
    margin: 20% 0;
    padding: 10% 0;
}
  .shape-2 {
    left: 3%;
    top: 50%;
    animation: animationFramesTwo 30s alternate infinite linear;
  }
  .shape-4 {
    left: 50%;
    bottom: 11%;
    animation: animationFramesOne 30s alternate infinite linear;
  }
  .shape-5 {
  right: 5%;
top: 15%; 
animation: animationFramesFive 30s alternate infinite linear;
}
.shape-6 {
right: 15%;
bottom: 11%;
animation: animationFramesOne 30s alternate infinite linear;
}
  .shape {
    top: 20%;
    position: absolute;
    display: none;
  }
    .coverTopbarContainer{
        align-items: center;
        margin: 0;
          padding:0 20px;
          position: relative;
          z-index: 5;
          width: 100%;
        .coverTopbarParent{
            .coverTopbarChild{
              width: 100%;
              flex: 1;
              display: flex;
              flex-direction: column;
              gap: 10px;
                h1{
                    font-size: 3.5rem;
                    font-weight: 700;
                    transition: .3s;
                    font-family: 'Poppins', sans-serif;
                  color: #fff; 
                  @include tablet{
                  font-size: 1.6rem;
            }
                }
                .border-line{
                  content: '';
                  width: 15%;
                  border-bottom: 2px solid #fff;
                  color: #fff;
                  transition: width 0.8s ease-in-out, left 0.8s ease-in-out;
                }
                p{
                  max-width: 600px;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 28px;
                    color: #fff;
                    margin-bottom: 15px;
                    transition: .3s;
                }
            }
        }
        .coverTopbarParentLeft{
          .coverTopbarChildLeft{
            width: 100%;
            margin-top: -3%;
            float: right;
            opacity: 0.8;
          }
        }
    }
    .coverIndex{
      position: absolute;
      top: 0;
      background: #000;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      margin: 0;
      animation: movingLeft .5s ease-in-out;
    }
 }